<footer class="l-footer" role="contentinfo">
  <div class="l-container">
    <a href="http://www.chiropractors.asn.au/" rel="external" title="Visit the Chiropractors' Association of Australia">
      <img src="images/logos/caa.svg" alt="A member of the Chiropractors' Association of Australia" width="106" height="61">
    </a>
    <small class="l-footer__copy">
      <span class="l-footer__copyright-symbol">&copy;</span> Copyright 2016 City Chiropractor Care.
      <span>Website by <a href="http://chris-pearce.me" rel="external">Chris</a> &amp; <a href="http://kllevin.com/" rel="external">Kate</a>.</span>
    </small>
  </div>
</footer>
