<footer class="l-footer" role="contentinfo">
  <img src="images/logos/caa.svg" alt="Chiropractors' Association of Australia logo" width="106" height="61">
  <small>&copy; Copyright 2015 City Chiropractor Care. <em>Built by <a href="http://chris-pearce.me" rel="external">Chris</a> &amp; <a href="http://chris-pearce.me" rel="external">Kate</a></em>.</small>
</footer>

