<footer class="l-footer" role="contentinfo">
  <div class="l-container{{#if wide-content}} l-container--wide{{/if}}">
    <small class="l-footer__copyright">
      <span class="l-footer__copyright-symbol">&copy;</span>
      Copyright 2018
      <span class="l-footer__copyright-brand">City Chiropractor Care.</span>
      <span class="l-footer__credits">Website by
        <a href="http://cjpearce.com" rel="external">Chris</a> &amp;
        <a href="http://kllevin.com" rel="external">Kate</a>.</span>
      <a href="#" class="c-button">Back to top</a>
    </small>
  </div>
</footer>
