<footer class="l-footer" role="contentinfo" itemscope itemtype="http://schema.org/LocalBusiness">
  <div class="l-container">
    <div class="l-grid u-s-mb-large">
      <div class="l-grid__item u-one-third-from-lap">
        <img src="images/logo-watermark.svg" alt="">
      </div>
      <div class="l-grid__item u-one-third-from-lap">
        <div class="">
          <h5>Contact us</h5>
          <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">Suite 506<br>66 Hunter Street</span><br>
            <span itemprop="addressLocality">Sydney</span>
            <span itemprop="addressRegion">NSW</span>,
            <span itemprop="postalCode">2000</span><br>
            <span>Tel: <a href="tel:+0292210771" itemprop="telephone">02 9221 0771</a></span><br>
            <a href="mailto:info@citychiropractor.com.au" itemprop="email">info@citychiropractor.com.au</a>
          </p>
          <p>
            <a href="http://www.chiropractors.asn.au/" class="c-logo-watermark" rel="external"><span class="u-hide-visually">The Chiropractors’ Association of Australia website</span></a>
          </p>
          <small>&copy; Copyright {{formatDate date "%Y"}} City Chiropractor Care.</small>
        </div>
      </div>
      <div class="l-grid__item u-one-third-from-lap">
        <ul>
          <li><a href="about.html">About</a></li>
          <li><a href="what-to-expect.html">What to Expect</a></li>
          <li><a href="hours-and-fees.html">Hours &amp; Fees</a></li>
          <li><a href="faqs.html">FAQs</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="contact.html" class="c-button c-button--small">Book Appointment</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
