<header role="banner" class="l-header">
  <div class="l-header__inner  l-container l-container--wide">

    {{!-- Logo --}}
    <a href="/" class="l-header__logo" rel="home">
      <img src="images/logos/ccc.svg" alt="City Chiropractor Care">
    </a>
    {{!-- //Logo --}}

    {{!-- Main nav and CTA’s --}}
    <div class="l-header__nav__ctas">

      {{!-- CTA’s --}}
      <div class="u-hide-up-to-880">
        <a href="tel:+612-9221-0771" class="l-header__cta c-button c-button--small">
          <svg aria-hidden="true">
            <use xlink:href="#phone-icon" />
          </svg>
          <span>02 9221 0771</span>
        </a>
      </div>
      {{!-- //CTA’s --}}

      {{!-- Main nav --}}
      <button class="l-header__menu-btn  js-menu-toggle-trigger" type="button"><span class="u-hide-visually">Open </span>menu</button>
      <nav class="l-header__nav  js-menu-toggle-target" role="navigation" aria-label="Main navigation">
        <ul class="l-nav-main">
          <li class="l-nav-main__menu-cta u-hide-from-881">
            <a href="tel:+612-9221-0771" class="l-header__cta c-button c-button--small">
              <svg aria-hidden="true">
                <use xlink:href="#phone-icon" />
              </svg>
              <span>Call us</span>
            </a>
          </li>
          {{#withSort pages 'data.nav-order'}}
            {{#if data.slug}}
              <li>
                <a href="{{relative ../../page.dest this.dest}}" class="l-nav-main__link {{#is ../../page.dest this.dest}}is-active{{/is}}">{{data.nav-title}}</a>
              </li>
            {{/if}}
          {{/withSort}}
        </ul>
      </nav>
      {{!-- //Main nav --}}

    </div>
  </div>
</header>
