<header role="banner" class="l-header">
  <div class="l-header__inner  l-container l-container--wide">

    {{!-- Logo --}}
    <a href="/" class="l-header__logo" rel="home">
      <img src="images/logos/ccc.svg" alt="City Chiropractor Care">
    </a>
    {{!-- //Logo --}}

    {{!-- Main nav and CTA’s --}}
    <div class="l-header__nav__ctas">

      {{!-- CTA’s --}}
      <div class="l-header__ctas">
        <strong class="u-hide-visually">Call us or book an appointment:</strong>
        <a href="tel:+61-02-9221-0771" class="l-header__cta l-header__cta-phone  c-button c-button--small">
          <svg viewBox="0 0 100 100" class="icon icon--phone">
            <path d="M43.027 56.83c-.04-.04-3.602-5.208-4.936-6.97-2.767-3.665-4.2-8.812-4.528-9.207 3.89-2.713 11.497-6.12 11.924-11.01C46.026 23.327 35.324 10.12 33.27 10c-5.614.06-15.892 9.563-17.11 12.436-2.265 5.938-1.142 11.464 2.748 19.464 4.956 11.9 23.364 34.474 33.895 41.562 6.97 5.347 12.06 7.446 18.138 6.18 2.827-.535 13.03-8.91 14.056-14.574.25-2.1-11.614-16.02-17.75-16.573-4.764-.438-9.33 6.69-12.604 10.178-.328-.416-3.117-2.594-6.115-6.042-1.473-1.662-3.797-3.86-5.5-5.8z"/>
          </svg>
          <span class="u-hide-from-lap">Call us</span>
          <span class="u-hide-up-to-palm">02 9221 0771</span>
        </a><!--
        --><a href="contact.html" class="l-header__cta  c-button c-button--small">
            Book&nbsp;
            <span class="u-hide-from-lap"> apt</span>
            <span class="u-hide-up-to-palm"> appointment</span>
        </a>
      </div>
      {{!-- //CTA’s --}}

      {{!-- Main nav --}}
      <button class="l-header__menu-btn  js-menu-toggle-trigger" type="button"><span class="u-hide-visually">Open </span>menu</button>
      <nav class="l-header__nav  js-menu-toggle-target" role="navigation" aria-label="Main navigation">
        <ul class="l-nav-main">
          {{#withSort pages 'data.navOrder'}}
            {{#if data.slug}}
              <li>
                <a href="{{relative ../../page.dest this.dest}}" class="l-nav-main__link {{#is ../../page.dest this.dest}}is-active{{/is}}">{{data.navTitle}}</a>
              </li>
            {{/if}}
          {{/withSort}}
        </ul>
      </nav>
      {{!-- //Main nav --}}

    </div>
  </div>
</header>
