<header role="banner" class="c-site-header">
  <div class="l-container">
    <div class="l-side-by-side-alt">
      <div class="l-side-by-side-alt__left">
        <a href="/" rel="home">
          <img class="c-site-header__logo" src="/images/new-logo-2.svg" alt="City Chiropractor Care">
        </a>
      </div>
      <nav class="l-side-by-side-alt__right u-text-align-right" role="navigation" aria-label="Main navigation">
          <ul class="c-site-header__nav">
            <li><a href="" class="c-site-header__nav__item">About Us</a></li>
            <li><a href="" class="c-site-header__nav__item">About Chiropractic</a>
              <ul class="u-hide">
                <li><a href="">What to expect</a></li>
                <li><a href="">Common Conditions</a></li>
                <li><a href="">FAQs</a></li>
              </ul>
            </li>
            <li><a href="" class="c-site-header__nav__item">Hours &amp; Fees</a></li>
            <li><a href="" class="c-site-header__nav__item">Contact Us</a></li>
          </ul>
      </nav>
    </div>
  </div>



    {{!-- <div class="nav-menu u-position-fixed u-one-whole">
      <div class="l-container-from-lap">
        <button type="button" class="nav-menu__button btn js-nav-trigger"><span></span></button>
        <nav class="nav-menu__content js-nav-target">
          <div class="l-grid">
            <div class="l-grid__item u-one-third-from-lap">
              <ul>
                <li><a href="" class="">About Chiropractic</a></li>
                <li><a href="what-to-expect.html" class="">What to Expect</a></li>
                <li><a href="" class="">Common Conditions</a></li>
                <li><a href="" class="">FAQ</a></li>
              </ul>
            </div>
            <div class="l-grid__item u-one-third-from-lap">
              <ul>
                <li><a href="" class="">About Us</a></li>
                <li><a href="" class="">Fees &amp; Hours</a></li>
              </ul>
            </div>
            <div class="l-grid__item u-one-third-from-lap">
              <ul>
                <li><a href="book-appointment.html" class="">Book an Appointment</a></li>
                <li><a href="" class="">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div> --}}
  </header>