<header role="banner" class="l-header">
  <div class="l-header__inner  l-container l-container--wide">

    {{!-- Logo --}}
    <a href="/" class="l-header__logo" rel="home">
      <img src="images/logo.svg" alt="City Chiropractor Care">
    </a>
    {{!-- //Logo --}}

    {{!-- Main nav and CTA’s --}}
    <div class="l-header__nav__ctas">

      {{!-- CTA’s --}}
      <div class="l-header__ctas">
        <strong class="u-hide-visually">Call us or book an appointment:</strong>
        <a href="tel:+61-02-9221-0771" class="l-header__cta-phone c-button c-button--small">&#9742; <span class="u-hide-from-lap">Call</span><span class="u-hide-up-to-palm">02 9221 0771</span></a>
        <a href="contact.html" class="l-header__cta-apt c-button c-button--small">Book <span class="u-hide-from-lap">Apt</span><span class="u-hide-up-to-palm">Appointment</span></a>
      </div>
      {{!-- //CTA’s --}}

      {{!-- Main nav --}}
      <nav class="l-header__nav" role="navigation" aria-label="Main navigation">
        <ul class="l-nav-main">
          {{#withSort pages 'data.navOrder'}}
            {{#if data.slug}}
              <li>
                <a href="{{relative ../../page.dest this.dest}}" class="l-nav-main__link {{#is ../../page.dest this.dest}}is-active{{/is}}">{{data.navTitle}}</a>
              </li>
            {{/if}}
          {{/withSort}}
        </ul>
      </nav>
      {{!-- //Main nav --}}

    </div>
  </div>
</header>
