<header role="banner" class="header">
    <div class="nav-menu u-position-fixed u-one-whole">
      <div class="l-container-from-lap">
        <button type="button" class="nav-menu__button btn js-nav-trigger"><span></span></button>
        <nav class="nav-menu__content js-nav-target">
          <div class="l-grid">
            <div class="l-grid__item u-one-third-from-lap">
              <ul>
                <li><a href="" class="">About Chiropractic</a></li>
                <li><a href="what-to-expect.html" class="">What to Expect</a></li>
                <li><a href="" class="">Common Conditions</a></li>
                <li><a href="" class="">FAQ</a></li>
              </ul>
            </div>
            <div class="l-grid__item u-one-third-from-lap">
              <ul>
                <li><a href="" class="">About Us</a></li>
                <li><a href="" class="">Fees &amp; Hours</a></li>
              </ul>
            </div>
            <div class="l-grid__item u-one-third-from-lap">
              <ul>
                <li><a href="book-appointment.html" class="">Book an Appointment</a></li>
                <li><a href="" class="">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="header__primary u-text-align-center">
      <h1 class="u-s-pe-base">City Chiropractic Care</h1>
    </div>
  </header>