<header role="banner" class="l-header">
  <div class="l-container-from-lap">
    <div class="l-header__inner">
      <a href="/" class="l-header__logo" rel="home">
        <img src="images/logo.svg" alt="City Chiropractor Care">
      </a>
      {{!-- <button class="l-header__nav-trigger" type="button">Open menu</button> --}}
      <nav class="l-header__nav" role="navigation" aria-label="Main navigation">
        <ul class="l-header__nav__list">
          <li class="l-header__nav__item">
            <a href="about.html" class="l-header__nav__link">About</a>
          </li>
          <li class="l-header__nav__item">
            <a href="what-to-expect.html" class="l-header__nav__link">What to Expect</a>
          </li>
          <li class="l-header__nav__item">
            <a href="hours-and-fees.html" class="l-header__nav__link">Hours &amp; Fees</a>
          </li>
          <li class="l-header__nav__item">
            <a href="faqs.html" class="l-header__nav__link">FAQs</a>
          </li>
          <li class="l-header__nav__item">
            <a href="contact.html" class="l-header__nav__link">Contact</a>
          </li>
          <li class="l-header__nav__item">
            <a href="contact.html" class="l-header__nav__link c-button c-button--small">Book Appointment</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>