<header role="banner" class="c-site-header">
  <div class="l-container">
    <div class="l-side-by-side-alt">
      <div class="l-side-by-side-alt__left">
        <a href="/" rel="home">
          <img class="c-site-header__logo" src="images/new-logo-2.svg" alt="City Chiropractor Care">
        </a>
      </div>
      <nav class="l-side-by-side-alt__right u-text-align-right" role="navigation" aria-label="Main navigation">
          <ul class="c-site-header__nav">
            <li><a href="about-us.html" class="c-site-header__nav__item">About Us</a></li>
            <li><a href="what-to-expect.html" class="c-site-header__nav__item">What to Expect</a></li>
            <li><a href="hours-and-fees.html" class="c-site-header__nav__item">Hours &amp; Fees</a></li>
            <li><a href="faqs.html" class="c-site-header__nav__item">FAQs</a></li>
            <li><a href="contact-us.html" class="c-site-header__nav__item">Contact Us</a></li>
            <li class="u-s-ml-small"><a href="" class="c-button c-button--small">Book</a></li>
          </ul>
      </nav>
    </div>
  </div>
</header>