<header role="banner" class="l-header">
  <div class="l-header__inner  l-container l-container--wide">
    <a href="/" class="l-header__logo" rel="home">
      <img src="images/logo.svg" alt="City Chiropractor Care">
    </a>
    <nav class="l-header__nav" role="navigation" aria-label="Main navigation">
      <a href="contact.html" class="l-header__nav__cta  c-button c-button--small">Book Appointment</a>
      {{!-- <button class="l-header__nav-trigger" type="button">Open menu</button> --}}
      <ul class="l-header__nav__list">
        {{#withSort pages 'data.navOrder'}}
          {{#if data.slug}}
            <li class="l-header__nav__item">
              <a href="{{relative ../../page.dest this.dest}}" class="l-header__nav__link {{#is ../../page.dest this.dest}}is-active{{/is}}">{{data.navTitle}}</a>
            </li>
          {{/if}}
        {{/withSort}}
      </ul>
    </nav>
  </div>
</header>