/* ============================================================================
   @LAYOUT -> TEMPLATE -> FOOTER
   ========================================================================= */


/**
 * The site footer.
 */


.l-footer {
  color: $color-white;
  font-size: to-rem($font-size-small);
  padding-top: to-rem($spacing-triple);
  padding-bottom: to-rem($spacing-triple);

  /**
   * Links.
   */

  a {
    color: $color-white;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}