/* ============================================================================
   @LAYOUT -> TEMPLATE -> FOOTER
   ========================================================================= */

/**
 * The site footer.
 */


.l-footer {
  border-top: 1px solid $color-brand-tint;
  padding-top: to-rem($spacing-base);
  padding-bottom: to-rem($spacing-base);

  // To center align the CAA logo
  @include respond-to(palm, max) {
    text-align: center;
  }
}


/**
 * Copyright text.
 */

.l-footer__copyright {
  display: block;
  font-size: to-rem($font-size-xxx-small);

  @include respond-to(lap) {
    text-align: right;
  }
}

/**
 * The copyright symbol: ©.
 */

.l-footer__copyright-symbol {
  position: relative;
  top: to-rem(2);
}

/**
 * Site credits.
 */

.l-footer__credits {
  display: block;
}
