/* ============================================================================
   @LAYOUT -> TEMPLATE -> FOOTER
   ========================================================================= */


/**
 * The site footer.
 */


.l-footer {

  &,
  a {
    color: $color-white;
  }

  padding-top: to-rem($spacing-triple);
  padding-bottom: to-rem($spacing-triple);

  /**
   * Links.
   */

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}