/* ============================================================================
   @LAYOUT -> TEMPLATE -> HEADER
   ========================================================================= */

/**
 * The site header.
 */


/**
 * Settings.
 */

$l-header-spacing-amount: $spacing-half;

$l-header-spacing-amount-small: $spacing-half / 2;

$l-header-spacing-amount-large: $spacing-half * 2;


.l-header {
  border-bottom: 5px solid $color-brand-light;
}

.l-header__inner {
  display: flex;
  flex-direction: column;

  @include respond-to(lap) {
    flex-direction: row;
    justify-content: space-between;
  }
}


/**
 * The SVG logo.
 */

.l-header__logo {
  padding-top: to-rem($l-header-spacing-amount-large);
  padding-bottom: to-rem($l-header-spacing-amount-large);
  //text-align: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}


/**
 * CTA’s.
 */

.l-header__ctas {
  text-align: center;

  @include respond-to(lap) {
    margin-right: -(to-em($c-button-padding-sides));
    text-align: left;
  }
}

// Phone CTA
.l-header .l-header__cta-phone {
  margin-right: to-rem($spacing-micro);

  // Make it not look like a button at non-phone size
  @include respond-to(lap) {
    cursor: default;

    &,
    &:hover,
    &:focus {
      background: transparent;
    }
  }
}


/**
 * Main nav and CTA’s.
 */

.l-header__nav__ctas {
  // @include respond-to(palm, max) {
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100vh;
  //   height: 100vh;
  //   overflow-y: scroll;
  // }

  @include respond-to(lap) {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


/**
 * Main nav.
 */

.l-header__nav {
  display: flex;

  @include respond-to(palm, max) {
    background-color: rgba($color-brand, 0.9);
    bottom: 0;
    align-items: center;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  @include respond-to(lap) {
    margin-right: -(to-rem($l-header-spacing-amount));
  }

  /**
   * Extends `l-nav-main` from Layout -> Template -> Nav Main.
   */

  @include respond-to(lap) {
    .l-nav-main {
      display: flex;
    }

    .l-nav-main__link {
      font-size: to-rem($font-size-small);
      margin-left: to-rem($l-header-spacing-amount-small);
    }
  }
}





/**
 * Hamburger main nav toggle (`button`).
 */

// .l-header__nav-trigger {
//   position: absolute;
//   right: to-rem(24);
//   top: 50%;
//   transform: translateY(-50%);

//   @include respond-to(lap) {
//     display: none;
//   }
// }
