/* ============================================================================
   @LAYOUT -> TEMPLATE -> HEADER
   ========================================================================= */

/**
 * The site header.
 */


/**
 * Settings.
 */

$l-header-padding: $spacing-half;


.l-header {
  background-color: $color-white;
}


.l-header__inner {
  display: flex;
  justify-content: space-between;
}


/**
 * The SVG logo.
 */

.l-header__logo {
  padding-top: to-rem($l-header-padding);
  padding-bottom: to-rem($l-header-padding);
}


/**
 * Main nav (`nav`).
 */

.l-header__nav {
  @include respond-to(palm, max) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    overflow-y: scroll;
  }

  @include respond-to(lap) {
    display: flex;
  }
}


/**
 * Main nav list (`ul`).
 */

.l-header__nav__list {
  @include respond-to(lap) {
    display: flex;
    margin-right: -(to-rem($l-header-padding));
  }
}


/**
 * Main nav items (`li`).
 */

.l-header__nav__item {
  @include respond-to(lap) {
    display: flex;
  }
}


/**
 * Main nav links (`a`).
 */

.l-header__nav__link {
  align-items: center;
  color: $color-brand;
  display: flex;
  font-weight: bold;
  font-size: to-rem($font-size-xx-small);
  padding-left: to-rem($l-header-padding);
  padding-right: to-rem($l-header-padding);
  text-transform: uppercase;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}





/**
 * Hamburger main nav toggle (`button`).
 */

// .l-header__nav-trigger {
//   position: absolute;
//   right: to-rem(24);
//   top: 50%;
//   transform: translateY(-50%);

//   @include respond-to(lap) {
//     display: none;
//   }
// }