/* ============================================================================
   @LAYOUT -> TEMPLATE -> HEADER
   ========================================================================= */

/**
 * The site header.
 */


/**
 * Settings.
 */

$l-header-spacing-amount: $spacing-half;

$l-header-spacing-amount-small: $l-header-spacing-amount / 2;

$l-header-spacing-amount-large: $l-header-spacing-amount * 2;

$l-header-logo-padding-ends: $l-header-spacing-amount + 3;


.l-header {
  //border-bottom: 5px solid $color-brand-light;
  position: relative;
}

.l-header__inner {
  text-align: center;

  @include respond-to(lap) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


/**
 * The SVG logo.
 */

.l-header__logo {
  display: inline-block;
  padding-top: to-rem($l-header-logo-padding-ends);
  padding-bottom: to-rem($l-header-logo-padding-ends);
  text-align: center;

  @include respond-to(lap) {
    display: flex;
    padding-top: to-rem($l-header-spacing-amount-large);
    padding-bottom: to-rem($l-header-spacing-amount-large);
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}


/**
 * Main nav and CTA’s.
 */

@include respond-to(lap) {
  .l-header__nav__ctas {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


/**
 * CTA’s.
 */

.l-header__ctas {
  padding-bottom: to-rem($l-header-spacing-amount);
  text-align: center;

  @include respond-to(lap) {
    margin-right: -(to-em($c-button-padding-sides));
    padding-bottom: 0;
  }
}

// Phone CTA
.l-header__cta-phone {
  margin-right: to-rem($l-header-spacing-amount);

  // Make it not look like a button at non-phone size
  @include respond-to(lap) {
    cursor: default;

    &,
    &:hover,
    &:focus {
      background: transparent;
    }
  }
}


/**
 * Main nav.
 *
 * At small viewports the nav is a full viewport overlay with the nav items
 * aligned in the center, both vertically and horizontally.
 *
 * 1. Keep underneath the header in order for pointer events to happen.
 */

.l-header__nav {
  display: flex;

  @include respond-to(palm, max) {
    align-items: center;
    background-color: rgba($color-brand, 0.96);
    bottom: 0;
    justify-content: center;
    left: 0;
    opacity: 0;
    pointer-events: none; // [1]
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.2s;
    z-index: -1; // [1]

    &.is-visible {
      opacity: 1;
      pointer-events: all;
      z-index: 1;
    }
  }

  @include respond-to(lap) {
    margin-right: -(to-rem($l-header-spacing-amount));
  }

  /**
   * Extends `l-nav-main` from Layout -> Template -> Nav Main.
   */

  @include respond-to(lap) {
    .l-nav-main {
      display: flex;
    }
  }

  .l-nav-main__link {
      font-size: to-rem(22);

      @include respond-to(palm, max) {
        &:hover,
        &:focus,
        &.is-active {
          background-color: shade($color-brand, 9%);
          display: inline-block;
        }
      }

      @include respond-to(lap) {
        font-size: to-rem($font-size-small);
        margin-left: to-rem($l-header-spacing-amount-small);
      }
  }
}

// Used on the `<body>` element to prevent vertical scrolling when Nav Main
// is a full viewport overlay at smaller viewports
.has-no-scrolling {
  overflow-y: hidden;
}


/**
 * Menu button that opens and closes the main navigation.
 */

.l-header__menu-btn {
  @extend %o-button;
  border-style: solid;
  border-color: $color-white;
  border-width: 1px 0 1px;
  color: $color-white;
  position: absolute;
  right: to-rem($l-header-spacing-amount);
  text-transform: uppercase;
  top: to-rem($l-header-spacing-amount);
  // Ensures it sits above the Nav Main full viewport overlay
  z-index: 2;

  // Not needed at larger viewports
  @include respond-to(lap) {
    display: none;
  }
}
