/* ============================================================================
   @LAYOUT -> TEMPLATE -> NAV MAIN
   ========================================================================= */

/**
 * The main navigation featured both in the site header and footer.
 */


/**
 * Settings.
 */

$l-nav-main-spacing-amount: $spacing-half;

$l-nav-main-spacing-amount-small: $spacing-half / 2;

$l-nav-main-spacing-amount-large: $spacing-half * 2;


/**
 * Main nav.
 */

.l-nav-main {
  margin-top: to-rem($l-nav-main-spacing-amount-large);
}


/**
 * Main nav links.
 */

.l-nav-main__link {
  border-radius: $border-radius-pill;
  display: block;
  padding: to-rem($l-nav-main-spacing-amount-small) to-rem($l-nav-main-spacing-amount);

  &,
  &:hover,
  &:focus {
    color: $color-white;
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &.is-active {
    background-color: rgba($color-brand, 0.4);
  }
}
