/* ============================================================================
   @COMPONENTS -> BUTTON
   ========================================================================= */

/**
 * The main button style used, for both links (`a`) and actual buttons
 * (`button`).
 */


.c-button {
  @extend %o-button;
  background-color: $color-brand-alt;
  border-radius: $border-radius-pill;
  display: inline-block;
  font-weight: 600;
  padding: to-em(9) to-em($c-button-padding-sides);
  transition: all 0.15s ease;

  &,
  &:hover,
  &:focus {
    color: $color-white;
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &.is-active {
    background-color: tint($color-brand-alt, 10%);
  }

  svg {
    height: to-rem(24);
    width: to-rem(24);
    fill: $color-white;
  }

  span {
    vertical-align: middle;
  }
}
