/* ============================================================================
   @COMPONENTS -> BUTTON
   ========================================================================= */


/**
 * The main button style used, for both links (`a`) and actual buttons
 * (`button`).
 */


.c-button {
  @extend %o-button;
  background-color: $color-brand-alt;
  border-radius: $border-radius-pill;
  color: $color-white;
  display: inline-block;
  font-weight: 600;
  padding: to-em(9) to-em(21);
}
