/* ============================================================================
   @COMPONENTS -> CARD
   ========================================================================= */


/**
 * Generic sectioning component giving a section a stylised border.
 */


/**
 * Settings.
 */

$c-card-border-radius: 6px;


.c-card {
  display: flex;
  margin-bottom: to-rem($spacing-base);
  border: 1px solid $color-brand-light;
  background-color: $color-white;
  border-radius: $c-card-border-radius;
}

.c-card--alt {
  display: block;
}

.c-card__content {
  padding: to-rem($spacing-base);
}

.c-card__image img {
  border-top-left-radius: $c-card-border-radius;
  border-bottom-left-radius: $c-card-border-radius;
}
