/* ============================================================================
   @COMPONENTS -> DETAILS
   ========================================================================= */


/**
 * Details component is used as a basic accordion.
 */

details {
  background-color: $color-white;
  border: 1px solid $color-cool-grey;
  border-radius: 3px;
  margin-bottom: to-rem($spacing-half);
}

summary {
  padding-top: to-rem($spacing-base);
  padding-bottom: to-rem($spacing-base);
  font-weight: 700;
  font-size: to-rem($font-size-x-large);
}


/**
 * Open.
 */

details[open] {
  padding-bottom: to-rem($spacing-base);

  summary {
    border-bottom: 1px solid $color-cool-grey;
    margin-bottom: to-rem($spacing-half);
  }
}