/* ============================================================================
   @COMPONENTS -> DROP CAP
   ========================================================================= */

/**
 * Styling a drop cap.
 *
 * N.B. a change in `font-family` will mean the `margin` spacing will need to
 * be adjusted.
 */

.c-drop-cap::first-letter {
  color: $color-brand;
  font-size: to-rem(106);
  font-weight: $font-weight-base;
  float: left;
  line-height: 0.5;
  margin-right: to-rem(8);
  margin-top: to-rem(16);
  text-shadow: 1px 1px 0 $color-white, 2px 2px 0 $color-brand-alt;
}

/**
 * The rest of the word as it needs to be closer to the drop cap than
 * subsequent lines.
 */

.c-drop-cap-remaining-word {
  margin-left: -(to-rem($spacing-third));
}
