/* ============================================================================
   @COMPONENTS -> FORM
   ========================================================================= */

/**
 * Form component.
 */

.c-form__row {
  margin-bottom: to-rem($spacing-half);
}


.c-form__label {
  display: block;
  margin-bottom: to-rem($spacing-quarter);
}
