/* ============================================================================
   @COMPONENTS -> GOOGLE MAP
   ========================================================================= */

/**
 * Google map styles.
 */


#gmap_canvas {
  overflow: hidden;
  height: 400px;
  width: 100%;
}
