/* ============================================================================
   @COMPONENTS -> PAGE HEADING
   ========================================================================= */

/**
 * Page heading component, a full-bleed strap that sits under the site header,
 * typically contains a `h1`.
 */


.c-page-heading {
  //background-color: $color-brand;
  //background-color: $color-brand-light;
  //border-bottom: 1px solid $color-brand-light;
  padding-top: to-rem($spacing-double);
  padding-bottom: to-rem($spacing-double);
}

.c-page-heading__title {
  color: $color-white;
  color: $color-brand;
  text-align: center;
}
