/* ============================================================================
   @COMPONENTS -> PAGE HEADING
   ========================================================================= */

/**
 * Page heading component.
 */

.c-page-heading {
  background-color: $color-brand;
  padding-top: to-rem($spacing-double);
  padding-bottom: to-rem($spacing-double);
  margin-bottom: to-rem($spacing-base);
}

.c-page-heading__title {
  color: $color-white;
  text-align: center;
}