/* ============================================================================
   @COMPONENTS -> PROFILE
   ========================================================================= */

/**
 * Team profiles.
 */


.c-profile__image {
  border-radius: 100%;
  height: 120px;
  width: 120px;
}
