/* ============================================================================
   @COMPONENTS -> PAGE HEADING
   ========================================================================= */

/**
 * Page heading component.
 */

.c-page-heading {
  background-color: $color-brand-analogous-3;
  background-color: $color-brand-tint-7;
  background-color: #344048;
  padding-top: to-rem($spacing-double);
  padding-bottom: to-rem($spacing-double);
  margin-bottom: to-rem($spacing-base);
}

.c-page-heading__title {
  //font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
  //font-style: italic;
  color: $color-white;
  //color: $color-brand;
  text-align: center;
  //text-shadow: 0 1px 0 $color-black;
}