/* ============================================================================
   @COMPONENTS -> PROFILE
   ========================================================================= */

/**
 * Team profiles.
 */

.c-profile {
  border: 1px solid #ddd;
  border-radius: to-rem($border-radius);
  padding: to-rem($spacing-half);
}

.c-profile--featured {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;
  margin-bottom: to-rem($spacing-base);
}


.c-profile__image {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: to-rem(20);
}

.c-profile__name,
.c-profile__title {
  text-align: center;
}

.c-profile__name {
  margin-top: 0;
  margin-bottom: 0;
}
