<!-- About -->
<div class="l-container l-container--narrow u-s-mb-large">
  <h1>About Chiropractic</h1>

  <p>Chiropractic is based on the scientific fact that your body is a self-regulating, self-healing organism. It utilises this inherent healing power of the body to maintain body structure and function without the use of drugs or surgery.</p>

  <p>The important functions of the body are controlled by the nervous system, comprising the brain, spinal cord, and nerves. Chiropractic focuses on the nervous system and its relationship to your entire body, including your muscles, joints, bones and organs. Throughout your spine, areas of spinal stress can occur, causing impairment to the nervous system. This impairment can cause numbness, weakness or under-performance of organs and tissues.</p>

  <p>Chiropractors are specially trained to locate areas where spinal stress occurs, through a thorough examination of the spine. Soft tissue massage and specific spinal adjustments then help to reduce the irritation in the nervous system. This allows your body to heal and regulate itself naturally.</p>

  <p>A registered chiropractor in Australia must have studied an accredited 5-year University education program including a Masters degree. Chiropractic spinal adjustments are internationally recognised as safe and effective for all, young and old.</p>

  <p>Chiropractic is simple. It's natural. It recognises your body's ability to heal itself. And it helps millions of people from pain and gives them better health every year.</p>
</div>
<!-- //About -->

<!-- Phases of care -->
<div class="u-s-pe-huge" style="background: #ccc;">
  <div class="l-container">
    <h2>Phases of Chiropractic Care</h2>
    <ol class="l-grid">
      <li class="l-grid__item u-one-third">
        <h3>Initial intensive care</h3>
        <p>Pain and other symptoms bring most patients to the chiropractor and the first thing they want is to feel better. During this phase, your visits are more frequent and aimed at stabilizing and improving the movement of your spine, as we eliminate your symptoms.</p>
      </li>
      <li class="l-grid__item u-one-third">
        <h3>Rehabilitation</h3>
        <p>After your symptoms have improved we concentrate on restoring the joints, muscles and ligaments to the best possible state so that you gain maximum function and health. Rehabilitative care aims to achieve complete healing, not just pain relief. Your visits will be less frequent and we will introduce exercise and other self care to aid your recovery. Stopping our chiropractic care now usually leads to your symptoms returning.</p>
      </li>
      <li class="l-grid__item u-one-third">
        <h3>Maintenance Care</h3>
        <p>Maintenance care is like having a tune-up. Treatment in this stage is aimed at preventing recurrence of the same problem, or the arousal of new symptoms. When you have obtained the best correction possible, these regular check ups will keep you healthy in the future. The frequency in this stage is very low (approximately once a month).</p>
      </li>
    </ol>
  </div>
</div>
<!-- //Phases of care -->