---
title: About
nav-title: About
slug: about
desc: "About City Chiropractic Care—we are committed to providing the highest quality health care in a friendly and professional setting."
nav-order: 3
wide-content: false
view-class: view-about
---

{{>view-title}}

<div class="l-container l-container--narrow u-s-mb-large">
  <p>At City Chiropractic Care we are committed to providing the highest quality health care in a friendly and professional setting. We firmly believe in an overall wellness approach to health. The body naturally seeks a balance among all its systems and we believe that chiropractic is the way to restore the natural balance your body seeks and to optimise the health of the whole human system.</p>
  <p>Each segment of your spine should enjoy a certain range of movement. Spinal restrictions can cause localised muscle spasms and back pain most commonly associated with the need for chiropractic care. They can also have much more far reaching consequences to your nervous system leading to headaches, neck pain, joint pain and non-musculoskeletal conditions including allergies and digestive disorders.</p>
  <p>We focus on restoring, preserving and optimizing your health through gentle, safe and specific adjustments to spinal joint restrictions. We pride ourselves on the thoroughness of our approach and manner in which we deliver our services. Our reward comes from seeing patients attain great results from their spinal care.</p>
</div>

<div class="l-container u-s-mb-large">
  <h2>Meet the Team</h2>
  <div class="c-profile c-profile--featured">
    <div class="l-side-by-side l-side-by-side--remove">
      <div class="l-side-by-side__left">
        <img class="c-profile__image" src="images/the-team/scott.jpg" alt="Photo of Scott Fell">
        <h3 class="c-profile__name">Scott Fell</h3>
        <h4 class="c-profile__title">Chiropractor</h4>
      </div>
      <div class="l-side-by-side__right">
        <p>Scott completed his chiropractic studies in 1993. He has a Bachelor of Science from <a href="https://www.unsw.edu.au/" rel="external">UNSW</a> with a major in Anatomy and Physiology as well as a Masters of Chiropractic degree from <a href="http://www.mq.edu.au/" rel="external">Macquarie University</a>. Scott is a member of the <a href="http://chiropractors.asn.au/" rel="external">Chiropractors’ Association of Australia</a>. Before choosing to work in Sydney sixteen years ago Scott worked both around Australia and in Europe, combining his passion of chiropractic with a love of travelling.</p>
        <p>Having worked in the city of Sydney now for sixteen years he has extensive experience caring for conditions that are related to computer use such as headaches, neck tension, upper back pain and low back pain. Scott is a keen athlete and enjoys keeping fit and healthy. He is passionate about outrigger canoe racing.</p>
      </div>
    </div>
  </div>

  <ul class="l-flex-grid l-flex-grid--equal-height l-flex-grid--gutter-horizontal-small l-flex-grid--gutter-vertical-base">
    <li class="l-flex-grid__item u-one-whole u-one-third-from-lap-large">
      <div class="c-profile">
        <img class="c-profile__image" src="images/the-team/mandy.jpg" alt="Photo of Mandy">
        <h3 class="c-profile__name">Mandy</h3>
        <h4 class="c-profile__title">Chiropractic Assistant</h4>
        <p>Mandy joined City Chiropractic Care in June 2011. She is a qualified Remedial Massage Therapist and is currently studying Nutritional Medicine. Mandy is passionate about nutrition and baking with wholesome natural foods. She is also a keen cake decorator.</p>
        <p>Mandy balances her life at City Chiropractic Care with regular yoga practice and an active lifestyle.</p>
      </div>
    </li>

    <li class="l-flex-grid__item u-one-whole u-one-third-from-lap-large">
      <div class="c-profile">
        <img class="c-profile__image" src="images/the-team/bronwyn.jpg" alt="Photo of Bronwyn">
        <h3 class="c-profile__name">Bronwyn</h3>
        <h4 class="c-profile__title">Chiropractic Assistant <span class="u-display-block-from-lap-large">&amp; Massage Therapist</span></h4>
        <p>Bronwyn has studied extensively in Remedial therapies including Sports and Remedial Massage, Shiatsu and Reflexology. She has also completed studies in Nutrition and Bach Flowers.</p>
        <p>Bron is a fantastic cook and enjoys other creative outlets including print-making and veggie gardening. She is a keen swimmer and bike rider and finds her work life balance with her twin girls and husband.</p>
      </div>
    </li>
    <li class="l-flex-grid__item u-one-whole u-one-third-from-lap-large">
      <div class="c-profile">
        <img class="c-profile__image" src="images/the-team/elyse.jpg" alt="Photo of Elyse">
        <h3 class="c-profile__name">Elyse</h3>
        <h4 class="c-profile__title">Chiropractic Assistant <span class="u-display-block-from-lap-large">&amp; Health Educator</span></h4>
        <p>Elyse completed her Bachelor of Health Science with a major in Health Promotion and her Master of Health Science with a major in Health Services Management in 2014. Elyse has previous experience supporting a General Practitioner in a busy Medical Practice as well as being a qualified Early Childhood Educator.</p>
        <p>Elyse is highly motivated and passionate about health and wellbeing. She fuels this attitude with her love of cooking, Oztag and crossfit.</p>
      </div>
    </li>
  </ul>
</div>
<div class="l-container l-container--narrow">
  <h2>Extending your care</h2>
  <p>At City Chiropractic Care we believe in overall wellness.<p>
  <dl>
    <dt class="u-s-mb-tiny"><a href="http://jackiessportsmassage.com/">JACKIE'S SPORTS MASSAGE THERAPY</a></dt>
    <dd class="u-s-mb-base">Established for 11 years&hellip; to become one of Sydney's leading Sports Massage Clinics. At Jackie's Sports Massage we guarantee you will receive an excellent deep tissue massage from a highly qualified and trained therapist hand picked by Jackie Schmidt who endeavours to provide all her clients with the BEST TREATMENT POSSIBLE!!<dd>
    <dt class="u-s-mb-tiny"><a href="http://www.simplyactive.com.au/">SIMPLY ACTIVE FITNESS CENTRE</a></dt>
    <dd class="u-s-mb-base">Simply Active is a spacious, state of the art Fitness Centre, situated in 201 Kent St Sydney, with an extensive range of cardiovascular equipment, machine weights, free weights and a large choice of exercise classes.</dd>
    <dt class="u-s-mb-tiny"><a href="http://www.acusense.com.au/">ACUSENSE</a></dt>
    <dd class="u-s-mb-base">Acusense natural health clinic, established in 1999, provides excellence in natural therapies including: herbal medicine, acupuncture, remedial massage, nutrition and meditation.</dd>
    <dt class="u-s-mb-tiny"><a href="http://www.organichealthandbeauty.com/">ORGANIC HEALTH AND BEAUTY</a></dt>
    <dd class="u-s-mb-base">Organic Health and Beauty products that you can buy online including: super foods, detox, healing, face care, body lotion, body wash and hair care.</dd>
  </dl>
</div>
