<!-- About us -->
<div class="l-container l-container--narrow">
  <h1>About Us</h1>
  <p>At City Chiropractic Care we are committed to providing the highest quality health care in a friendly and professional setting.</p>

  <p>We pride ourselves on the thoroughness of our approach and manner in which we deliver our services. Our reward comes from seeing patients attain great results from their spinal care. We are highly motivated by seeing peoples lives turnaround for the better as their health and well-being improves.</p>

  <p>Our clients are busy people. We respect their time and aim to always stay on schedule. We strive to exceed your expectations of chiropractic in every way.</p>

  <h2>Mission</h2>
  <p>It is our aim to provide the best possible chiropractic care to each and every patient.</p>

  <p>We are committed to assisting each and every patient to achieve their personal health goals by providing a supportive environment.</p>

  <p>We intend to improve community awareness of chiropractic and the role it plays in maximising nervous system function and ultimately the optimisation of our health potential.</p>

  <p>We always aim to be punctual and see patients at their allotted time.</p>

  <h2>Our Philosophy</h2>
  <p>At City Chiropractic Care we respect the bodies natural ability to heal and regulate itself. As chiropractors we believe that interference to the bodies communication system between the brain and the body disrupts this innate ability to heal and function.</p>

  <p>Prolonged disruption to this nervous system reduces harmony within the body causing a decline in health. Over time this environment promotes problems to develop within the body.</p>

  <p>Spinal dysfunction will cause interference to the delicate nervous system. Your chiropractor will detect the underlying cause of this nerve interference and will use gentle, safe and effective adjustments to nurture proper function within the body.</p>

  <p>This in turn restores and optimises health and well-being.</p>
</div>

<div class="u-s-pe-huge" style="background: #ccc;">
  <div class="l-container">
    <h2>Meet the team</h2>
  </div>
</div>

</div>
<!-- About us -->