---
title: About
navTitle: About
slug: about
desc:
navOrder: 3
---

{{> page-heading}}

<div class="l-container l-container--narrow u-s-pb-huge">
  <p>At City Chiropractic Care we are committed to providing the highest quality health care in a friendly and professional setting. We firmly believe in an overall wellness approach to health. The body naturally seeks a balance among all its systems and we believe that chiropractic is the way to restore the natural balance your body seeks and to optimize the health of the whole human system.</p>

  <p>Each segment of your spine should enjoy a certain range of movement. Spinal restrictions can cause localized muscle spasms and back pain most commonly associated with the need for chiropractic care. They can also have much more far reaching consequences to your nervous system leading to headaches, neck pain, joint pain and non-musculoskeletal conditions including allergies and digestive disorders.</p>

  <p>We focus on restoring, preserving and optimizing your health through gentle, safe and specific adjustments to spinal joint restrictions. We pride ourselves on the thoroughness of our approach and manner in which we deliver our services. Our reward comes from seeing patients attain great results from their spinal care.</p>
</div>

<div class="u-s-pe-huge">
  <div class="l-container l-container--narrow">
    <h2 class="u-text-align-center u-s-mb-huge">Meet the Team</h2>
    <div class="u-s-pb-base u-s-mb-base">
      <div class="l-side-by-side">
        <div class="l-side-by-side__left">
          <img class="c-profile__image" src="images/scott-square.jpg">
        </div>
        <div class="l-side-by-side__right">
          <h3 class="c-profile__name">Scott Fell</h3>
          <h4 class="c-profile__position">Chiropractor</h4>
          <p>Scott completed his chiropractic studies in 1993. He has a Bachelor of Science from UNSW with a major in Anatomy and Physiology as well as a Masters of Chiropractic degree from <a href="http://www.mq.edu.au/">Macquarie University</a>. Scott is a member of the <a href="http://chiropractors.asn.au/">Chiropractors’ Association of Australia</a>. Before choosing to work in Sydney eight years ago Scott worked both around Australia and in Europe, combining his passion of chiropractic with a love of travelling.</p>
          <p>Having worked in the city of Sydney now for eight years he has extensive experience caring for conditions that are related to computer use such as headaches, neck tension, upper back pain and low back pain. Scott is a keen athlete and enjoys keeping fit and healthy. He is passionate about outrigger canoe racing.</p>
        </div>
      </div>
    </div>
    <div class="u-s-pb-base u-s-mb-base">
      <div class="l-side-by-side">
        <div class="l-side-by-side__left">
          <img class="c-profile__image" src="images/mandy.jpg">
        </div>
        <div class="l-side-by-side__right">
          <h3 class="c-profile__name">Mandy</h3>
          <h4 class="c-profile__position">Chiropractic Assistant</h4>
          <p>Mandy joined City Chiropractic Care in June 2011 as Chiropractic Assistant. She is a qualified Remedial Massage Therapist and is currently studying Nutritional Medicine. Mandy is passionate about nutrition and baking with wholesome natural foods. She is also a keen cake decorator. Mandy balances her life at City Chiropractic Care with regular yoga practice and an active lifestyle.</p>
        </div>
      </div>
    </div>
    <div class="u-s-pb-base u-s-mb-base">
      <div class="l-side-by-side">
        <div class="l-side-by-side__left">
          <img class="c-profile__image" src="images/bronwyn.jpg">
        </div>
        <div class="l-side-by-side__right">
          <h3 class="c-profile__name">Bronwyn</h3>
          <h4 class="c-profile__position">Chiropractic Assistant &amp; Massage Therapist</h4>
          <p>Bronwyn fills the dual role of Chiropractic Assistant and Massage Therapist. Before joining City Chiropractic Care, Bron was the Commercial services Manager at Australasian College of Natural Therapies.</p>
          <p>She has studied extensively in Remedial therapies including Sports and Remedial Massage, Shiatsu and Reflexology. She has also completed studies in Nutrition and Bach Flowers.</p>
          <p>Bron is a fantastic cook and enjoys other creative outlets including print-making and veggie gardening. She is a keen swimmer and bike rider and finds her work life balance with her twin girls and husband.</p>
        </div>
      </div>
    </div>
  </div>
</div>
