<main role="main" class="u-s-pe-base">
  <div class="l-container">
  <h2>Book an appointment</h2>
  <form>
    <fieldset>
      <legend></legend>
      <ul>
        <li>
          <label for="name" class="u-display-block">Name</label>
          <input type="text" aria-required="true">
        </li>
        <li>
          <label for="email" class="u-display-block">Email</label>
          <input type="email" aria-required="true">
        </li>
        <li>
          <label for="phone" class="u-display-block">Phone</label>
          <input type="tel" aria-required="true">
        </li>
        <li>
          <label class="u-display-block">Additional information</label>
          <textarea></textarea>
        </li>
        <li>
          <button type="submit" class="btn btn-main">Submit</button>
        </li>
      </ul>
    </fieldset>
  </form>
  </div>
</main>