<div class="c-page-heading">
  <h1 class="c-page-heading__title">Book an appointment</h1>
</div>
<form>
  <fieldset>
    <div class="l-container l-container--narrow">
      <ul>
        <li class="u-s-mb-base">
          <label for="name" class="u-display-block">Name</label>
          <input class="text-input" id="name" type="text" aria-required="true">
        </li>
        <li class="u-s-mb-base">
          <label for="email" class="u-display-block">Email</label>
          <input class="text-input" id="email" type="email" aria-required="true">
        </li>
        <li class="u-s-mb-base">
          <label for="phone" class="u-display-block">Phone</label>
          <input class="text-input" id="phone" type="tel" aria-required="true">
        </li>
        <li class="u-s-mb-base">
          <label class="u-display-block">Additional information</label>
          <textarea></textarea>
        </li>
        <li class="u-text-align-right">
          <button type="submit" class="c-button">Submit</button>
        </li>
      </ul>
    </div>
  </fieldset>
</form>

