<div class="c-page-heading">
  <h1 class="c-page-heading__title">Contact Us</h1>
</div>
<div class="l-container">
  <div class="l-grid">
    <form class="l-grid__item u-one-half">
      <fieldset class="c-box">
        <legend class="h3" style="display: block;">Book an Appoinment</legend>
        <div class="l-container l-container--narrow">
          <ul>
            <li class="u-s-mb-base">
              <label for="name" class="u-display-block">Name</label>
              <input class="text-input" id="name" type="text" aria-required="true">
            </li>
            <li class="u-s-mb-base">
              <label for="email" class="u-display-block">Email</label>
              <input class="text-input" id="email" type="email" aria-required="true">
            </li>
            <li class="u-s-mb-base">
              <label for="phone" class="u-display-block">Phone</label>
              <input class="text-input" id="phone" type="tel" aria-required="true">
            </li>
            <li class="u-s-mb-base">
              <label class="u-display-block">Additional information</label>
              <textarea></textarea>
            </li>
            <li class="u-text-align-right">
              <button type="submit" class="c-button">Submit</button>
            </li>
          </ul>
        </div>
      </fieldset>
    </form>
    <div class="l-grid__item u-one-half">
      <div class="c-box">
        <div class="l-side-by-side">
          <div class="l-side-by-side__left">
            <img src="">
          </div>
          <div class="l-side-by-side__right">
            <h3>Give us a call or send us a message</h3>
            <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span>Tel: <a href="tel:+0292210771" itemprop="telephone">02 9221 0771</a></span><br>
              <a href="mailto:info@citychiropractor.com.au" itemprop="email">info@citychiropractor.com.au</a>
            </p>
          </div>
        </div>
      </div>

      <div class="c-box">
        <div class="l-side-by-side">
          <div class="l-side-by-side__left">
            <img src="">
          </div>
          <div class="l-side-by-side__right">
            <h3>Find Us</h3>
            <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress">Suite 506 66 Hunter Street</span><br>
              <span itemprop="addressLocality">Sydney</span>
              <span itemprop="addressRegion">NSW,</span>
              <span itemprop="postalCode">2000</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>