<div class="c-page-heading">
  <h1 class="c-page-heading__title">Frequently Asked Questions</h1>
</div>

<div class="l-container l-container--narrow">
  <details>
    <summary>
      <div class="l-side-by-side-alt u-s-ps-base">
        <div class="l-side-by-side-alt__left">What is chiropractic?</div>
        <div class="l-side-by-side-alt__right u-text-align-right">+</div>
      </div>
    </summary>

    <p class="u-s-ps-base">Chiropractic is safe, gentle, effective and the third largest health care system in the world. It is an art of healing which unleashes the body's ability to heal itself by realigning the spine to its optimum position. The spine is designed to house your nervous system, therefore misalignments can place stress on your nervous system and affect its ability to control the entire body.</p>
  </details>

  <details>
    <summary>
      <div class="l-side-by-side-alt u-s-ps-base">
        <div class="l-side-by-side-alt__left">How do I know whether I need to see a chiropractor?</div>
        <div class="l-side-by-side-alt__right u-text-align-right">+</div>
      </div>
    </summary>

    <p class="u-s-ps-base">Everyone should get their spine checked. Only 10% of your nerves perceive pain, the other 90% are what makes your body function. It is possible to have pressure on your nerves and feel no pain. By the time someone is in pain, spinal problems can be quite advanced. Just as a heart attack is not the first sign of heart problems.</p>
  </details>

  <details>
    <summary>
      <div class="l-side-by-side-alt u-s-ps-base">
        <div class="l-side-by-side-alt__left">What is a subluxation?</div>
        <div class="l-side-by-side-alt__right u-text-align-right">+</div>
      </div>
    </summary>

    <p class="u-s-ps-base">A subluxation is a slight misalignment or biomechanical dysfunction of the vertebrae (the bones in the spine). It is this dysfunction that may irritate nerves or place tension on the spinal cord between each of the vertebrae. The irritation can cause pain and dysfunction in muscles, organs or skin as well as disrupting the function of the entire body.</p>
  </details>

  <details>
    <summary>
      <div class="l-side-by-side-alt u-s-ps-base">
        <div class="l-side-by-side-alt__left">What causes a subluxation?</div>
        <div class="l-side-by-side-alt__right u-text-align-right">+</div>
      </div>
    </summary>

    <p class="u-s-ps-base">A fall, injury, car accident, or sometimes genetically inherited spinal weakness can cause a vertebra to be displaced. Other causes include excessive stress, poor posture, bad sleeping habits, bad exercise/stretching techniques, occupational strain and even bad food and toxins that we ingest.</p>
  </details>

  <details>
    <summary>
      <div class="l-side-by-side-alt u-s-ps-base">
        <div class="l-side-by-side-alt__left">How is a subluxation corrected?</div>
        <div class="l-side-by-side-alt__right u-text-align-right">+</div>
      </div>
    </summary>

    <p class="u-s-ps-base">Doctors of chiropractic are trained to restore the misaligned vertebrae to its normal function. In order to do this a chiropractor may use their hands to apply a specific, high velocity, low amplitude thrust to the affected area. A chiropractor may also use special tables, wedges and instruments to adjust the spine. The safest and most effective way is decided upon after a thorough examination. Special techniques are also used for adjusting infants and children.</p>
  </details>

  <details>
    <summary>
      <div class="l-side-by-side-alt u-s-ps-base">
        <div class="l-side-by-side-alt__left">Does an adjustment hurt?</div>
        <div class="l-side-by-side-alt__right u-text-align-right">+</div>
      </div>
    </summary>

    <p class="u-s-ps-base">Most people find having an adjustment quite relaxing. In cases of acute trauma, such as whiplash, discomfort may be experienced due to inflammation. Some adjustments may cause a popping or cracking sound which is simply caused by a gas released from the joint as spinal motion is restored.</p>
  </details>

  <details>
    <summary>
      <div class="l-side-by-side-alt u-s-ps-base">
        <div class="l-side-by-side-alt__left">Is an adjustment safe?</div>
        <div class="l-side-by-side-alt__right u-text-align-right">+</div>
      </div>
    </summary>

    <p class="u-s-ps-base">As with any form of health care there are some risks. Some people may experience slight soreness as the body begins to realign. This is usually very mild and only lasts a short time. Detailed research has shown that you have a greater chance of being injured while driving your car to your chiropractor than you do having an adjustment.</p>
  </details>

  <details>
    <summary>
      <div class="l-side-by-side-alt u-s-ps-base">
        <div class="l-side-by-side-alt__left">How do I know if my spine is unhealthy?</div>
        <div class="l-side-by-side-alt__right u-text-align-right">+</div>
      </div>
    </summary>

    <p class="u-s-ps-base">Without pain it can be difficult to know if your spine is healthy or not. Some warning signs may include:</p>
      <ul class="o-list u-s-ps-base">
        <li>Your shoes wear out</li>
        <li>You can't take a satisfying deep breath</li>
        <li>You jaw "clicks"</li>
        <li>You have to "crack" your neck, back or other joints a lot</li>
        <li>You can't twist or turn your head or hips to either side equally and easily</li>
        <li>You are often fatigued</li>
        <li>You have poor concentration</li>
        <li>You have low resistance to disease</li>
        <li>Your foot flares out when you walk</li>
        <li>One leg appears shorter than the other</li>
        <li>You have poor posture</li>
        <li>You have headaches, back aches, sore or tender spots in muscle or joints</li>
        <li>You have a constant stressful feeling and tension especially in muscles and joints</li>
        <li>You feel stiffness in your back and neck</li>
        <li>You just don't feel right</li>
      </ul>
  </details>

  <details>
    <summary>
      <div class="l-side-by-side-alt u-s-ps-base">
        <div class="l-side-by-side-alt__left">Why is the spine important?</div>
        <div class="l-side-by-side-alt__right u-text-align-right">+</div>
      </div>
    </summary>

    <p class="u-s-ps-base">The spine is the framework, which supports and protects the spinal cord. Most of the nerves pass from the spinal cord through small openings in the spine to various muscles, organs, bones and even the skin.</p>

    <p class="u-s-ps-base">The spine is made up of 24 moveable bones, 23 discs (which act as shock absorbers and allow movement to occur), and has attachments for 12 pairs of ribs and hundreds of ligaments and muscles, 31 pairs of nerves exit the spine.</p>

    <p class="u-s-ps-base">Because of the spine's complexity, its normal movements are easily disrupted. Falls, incorrect lifting, stress, repetitive movements, faulty posture and even illness may cause disruption to the normal mechanics of the spine. These areas of abnormal movement are what chiropractors call subluxation's.</p>

    <p class="u-s-ps-base">Subluxation's have several possible components: disrupted joint movement, nerve irritation, muscle spasm or weakness either at the site of the subluxation's or along the course of the irritated nerve, and increased or decreased blood flow in the immediate area. Because nerves send energy to organs, a subluxation can affect health and wellbeing. Subluxation's are very common and do not always produce pain or other obvious symptoms. Spinal degeneration can occur with chronic subluxation's.</p>
  </details>

  <details>
    <summary>
      <div class="l-side-by-side-alt u-s-ps-base">
        <div class="l-side-by-side-alt__left">How do chiropractors treat me?</div>
        <div class="l-side-by-side-alt__right u-text-align-right">+</div>
      </div>
    </summary>

    <p class="u-s-ps-base">Before the spine can be adjusted, the chiropractor needs to know details of past medical history, any accidents and current lifestyle (diet, exercise).</p>

    <p class="u-s-ps-base">A thorough examination may include a postural evaluation, specific spinal analysis, orthopedic and neurological testing, electromyography and thermography. X-rays may be taken not only to evaluate the condition and alignment of the spine, but also to help rule out any underlying disease.</p>
  </details>

  <details>
    <summary>
      <div class="l-side-by-side-alt u-s-ps-base">
        <div class="l-side-by-side-alt__left">How is my chiropractor educated?</div>
        <div class="l-side-by-side-alt__right u-text-align-right">+</div>
      </div>
    </summary>

    <p class="u-s-ps-base">Chiropractors must complete a 5-year double degree at university and as such are primary health care providers. This means that like your general practitioner (GP) they have a comprehensive knowledge of all systems of the body and diagnostic procedures. This enables the chiropractor to thoroughly assess the patient, take and analyse X-rays and refer the patient to the appropriate provider if necessary.</p>
  </details>

  <details>
    <summary>
      <div class="l-side-by-side-alt u-s-ps-base">
        <div class="l-side-by-side-alt__left">Once I go don't I have to see a chiropractor forever?</div>
        <div class="l-side-by-side-alt__right u-text-align-right">+</div>
      </div>
    </summary>

    <p class="u-s-ps-base">How long you choose to benefit from chiropractic is up to you. Most chiropractors find however that prevention is better than cure so it is always a good idea to have your spine checked regularly. Remember&hellip; subluxation's don't always cause pain.</p>
  </details>

  <details>
    <summary>
      <div class="l-side-by-side-alt u-s-ps-base">
        <div class="l-side-by-side-alt__left">Should my children have their spine checked?</div>
        <div class="l-side-by-side-alt__right u-text-align-right">+</div>
      </div>
    </summary>

    <p class="u-s-ps-base">Children should definitely get their spines checked. Regardless of age the vertebrae can become misaligned. The birth process is one of the biggest traumas in life and can cause trauma to the neck and spine. If left uncorrected a vertebral misalignment can cause undue stress on the spinal cord and surrounding nerves, affecting growth, development and posture.</p>
  </details>

  <details>
    <summary>
      <div class="l-side-by-side-alt u-s-ps-base">
        <div class="l-side-by-side-alt__left">Is chiropractic suitable during pregnancy?</div>
        <div class="l-side-by-side-alt__right u-text-align-right">+</div>
      </div>
    </summary>

    <p class="u-s-ps-base">Because of the additional weight gain and stress on the spine in pregnant women, chiropractic adjustments can help lower the incidence of pain in the lower back and legs. There are many safe, effective and gentle techniques that can be used with the expecting mother.</p>
  </details>
</div>