---
title: Hours & Fees
nav-title: Hours & Fees
slug: hours-and-fees
desc: "Hours of operation and fees for City Chiropractic Care. You can pay via HICAPS and we accept all major credit cards."
nav-order: 1
wide-content: true
view-class: view-hours-fees
---

{{>view-title}}

<div class="l-container l-container--narrow">

  <h2>Hours</h2>
  <table class="o-table o-table--border">
    <thead class="u-hide-visually">
      <tr>
        <th scope="col">Day</th>
        <th scope="col">Hours</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monday</td>
        <td>8am–6pm</td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td>8am–6pm</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td>12pm–6pm</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>8am–6pm</td>
      </tr>
    </tbody>
  </table>

  <h2>Fees</h2>
  <table class="o-table o-table--border u-s-mb-huge">
    <thead class="u-hide-visually">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Initial Consultation &amp; Spinal Care</td>
        <td>$110</td>
      </tr>
      <tr>
        <td>Standard Visit</td>
        <td>$72</td>
      </tr>
      <tr>
        <td>Discount List</td>
        <td>$45</td>
      </tr>
    </tbody>
  </table>
  <div>
    <h3>HICAPS</h3>
    <p>Our convenient swipe card system allows us to deduct the Health Fund Rebate from the cost of care. You will simply pay
      the “gap” amount. No more running around with receipts!</p>
    <h3>Payments</h3>
    <p>You can pay by Visa, MasterCard, American Express, Eftpos, Cheque or even cash! We appreciate you settling your bill
      at the end of each visit.</p>
  </div>
