---
title: Hours &amp; Fees
desc:
---

<div class="c-page-heading">
  <h1 class="c-page-heading__title">{{title}}</h1>
</div>

<div class="l-container">
  <div class="l-grid l-grid--gutter-huge">
    <div class="l-grid__item u-two-thirds">
      <h2>Fee Schedule</h2>
      <table class="o-table o-table--border">
        <thead>
          <tr>
            <th>Type</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Initial Consultation &amp; Spinal Care</td>
            <td>$110</td>
          </tr>
          <tr>
            <td>Standard Visit</td>
            <td>$68</td>
          </tr>
          <tr>
            <td>Discount List</td>
            <td>$45</td>
          </tr>
        </tbody>
      </table>
      <h3>HICAPS</h3>
      <p>Our convenient swipe card system allows us to deduct the Health Fund Rebate from the cost of care. You will simply pay the “gap” amount. No more running around with receipts!</p>
      <h3>Payments</h3>
      <p>You can pay by Visa, MasterCard, AMEX, Eftpos, Cheque or even cash! We appreciate you settling your bill at the end of each visit.</p>
    </div>
    <div class="l-grid__item u-one-third">
      <h2>Hours</h2>
      <table class="o-table o-table--border">
        <thead>
          <tr>
            <th>Day</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monday</td>
            <td>8am–6pm</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>8am–6pm</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>12.00pm–6pm</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>8am–3pm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>