<main role="main" class="c-main-content">
  <div class="l-container">
    <div class="l-grid l-grid--gutter-large">
      <div class="l-grid__item u-two-thirds-from-lap">
        <div class="l-side-by-side-alt u-s-mb-base">
          <div class="l-side-by-side-alt__left">
            <img class="c-avatar"src="/images/scott.jpeg">
          </div>
          <div class="l-side-by-side-alt__right">
            <p class="c-text-quote">"It is our aim to provide the best possible chiropractic care to each and every patient."</p>
          </div>
        </div>

        <p>At City Chiropractor Care we are specialised in looking after a range of spinal conditions such as neck pain, back pain and headaches. We are committed to assisting each and every patient to achieve their personal health goals by providing a supportive environment.</p>
        <p>We pride ourselves on the thoroughness of our approach and manner in which we deliver our services. Our reward comes from seeing patients attain great results from their spinal care. We are highly motivated by seeing peoples lives turnaround for the better as their health and well-being improves.</p>

      </div>
      <div class="l-grid__item u-one-third-from-lap">
        <ul>
          <li class="u-s-mb-base"><a href="what-to-expect.html" class="box">What to expect</a></li>
          <li class="u-s-mb-base"><a href="" class="box">Common Conditions</a></li>
          <li class="u-s-mb-base"><a href="" class="box">Frequently asked questions</a></li>
          <li class="u-s-mb-base u-text-align-center"><a href="book-appointment.html" class="c-button c-button--full-bleed u-text-transform-uppercase">Book Appointment</a></li>
        </ul>

      </div>
    </div>

  </div>
</main>