---
title: Welcome
desc: "City Chiropractic Care have extensive experience caring for conditions related to spending hours in front of a computer. We specialise in the treatment of back pain, neck pain, shoulder pain and headaches."
wide-content: true
view-class: view-index
---

<div class="l-container l-container--wide">
  <div class="l-view-home">
    <div class="l-view-home__intro">
      <div class="l-view-home__intro-inner">
        <p class="c-drop-cap">O<span class="c-drop-cap-remaining-word">ur</span> team has been located in the heart of the CBD for nearly twenty years and we have extensive experience caring for conditions related to spending hours in front of a computer. We specialise in the treatment of mid back pain, neck pain, low back pain, shoulder pain and headaches.</p>
        <p>Not only do we use specific, gentle spinal adjustments and massage to get your body moving, but we work with you to develop an individualised treatment plan so you can get the most out of your care. This plan may include postural advice, exercise and stretches, office ergonomics and nutritional advice. Small changes to your daily routine such as conducting meetings while walking, or using a standing desk, or making sure you office chair is properly adjusted can have a huge impact on your overall health.<p>
        <p><a href="tel:+61-02-9221-0771">Call City Chiropractic Care</a> today and see how chiropractic can help you achieve your personal health goals and get your body moving again.</p>
      </div>
    </div>
    <div class="l-view-home__photos">
      <img src="images/reception-area-small.jpg" alt="Reception area of City Chiropractic Care">
      <img src="images/chiropractic-drop-table.jpg" alt="Chiropractic drop table">
      {{!-- <img src="images/city-mutual-building-statue.jpg" alt="Chiropractic drop table"> --}}
    </div>
  </div>
</div>
