---
title: Welcome
desc: "City Chiropractic Care have extensive experience caring for conditions related to spending hours in front of a computer. We specialise in the treatment of back pain, neck pain, shoulder pain and headaches."
wide-content: true
view-class: view-index
nav-order: 0
---

<div class="l-view-home-banner">
  <div class="l-view-home-banner__item">
    <img src="images/reception-area-banner.jpg" alt="Reception area of City Chiropractic Care">
  </div>
  <div class="l-view-home-banner__item">
    <img src="images/chiropractic-drop-table-banner.jpg" alt="Chiropractic drop table">
  </div>
</div>


<div class="l-container l-container--narrow">
  <div class="l-view-home-content">
    <p class="c-drop-cap">O<span class="c-drop-cap-remaining-word">ur</span> team has been located in the heart of the CBD for nearly twenty years and we have extensive experience caring for conditions related to spending hours in front of a computer. We specialise in the treatment of mid back pain, neck pain, low back pain, shoulder pain and headaches.</p>
    <p>Not only do we use specific, gentle spinal adjustments and massage to get your body moving, but we work with you to develop an individualised treatment plan so you can get the most out of your care. This plan may include postural advice, exercise and stretches, office ergonomics and nutritional advice. Small changes to your daily routine such as conducting meetings while walking, using a standing desk, or making sure you office chair is properly adjusted can have a huge impact on your overall health.</p>
    <p><a href="/contact.html">Contact City Chiropractic Care</a> today and see how chiropractic can help you achieve your personal health goals and get your body moving again.</p>
    <div class="c-button-group">
      <div class="c-button-group__item">
        <a class="c-button" href="tel:+0292210771" itemprop="telephone">
              <svg aria-hidden="true">
                  <use xlink:href="#phone-icon" />
                </svg>
                <span>02 9221 0771</span>
          </a>
        </div><!--
        --><div class="c-button-group__item">
          <a class="c-button" href="mailto:info@citychiropractor.com.au" itemprop="email">
            <svg aria-hidden="true" class="u-s-mr-tiny">
              <use xlink:href="#envelope-icon" />
            </svg>
            <span>Send Email</span>
          </a>
        </div>
    </div>
  </div>
</div>
