  <div class="l-container l-container--narrow">
    <h1 class="u-text-align-center">Welcome to<br /> City Chiropractor Care</h1>

    <p>At City Chiropractor Care we are specialised in looking after a range of spinal conditions such as neck pain, back pain and headaches. We are committed to assisting each and every patient to achieve their personal health goals by providing a supportive environment.</p>
    <p>We pride ourselves on the thoroughness of our approach and manner in which we deliver our services. Our reward comes from seeing patients attain great results from their spinal care. We are highly motivated by seeing peoples lives turnaround for the better as their health and well-being improves.</p>
  </div>

  <div class="l-container">
    <div class="l-grid l-grid--gutter-large">
      <div class="l-grid__item u-one-third">
        <img class="u-s-mb-base" src="http://placehold.it/350x250">
        <h3>Meet the team</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae tempora consectetur, doloremque eveniet dolorum laborum esse itaque, architecto, voluptas eum provident. Magni ea reprehenderit nostrum eius omnis a beatae inventore.</p>
      </div>

      <div class="l-grid__item u-one-third">
        <img class="u-s-mb-base" src="http://placehold.it/350x250">
        <h3>What to expect</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae tempora consectetur, doloremque eveniet dolorum laborum esse itaque, architecto, voluptas eum provident. Magni ea reprehenderit nostrum eius omnis a beatae inventore.</p>
      </div>

      <div class="l-grid__item u-one-third">
        <img class="u-s-mb-base" src="http://placehold.it/350x250">
        <h3>Book an Appointment</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae tempora consectetur, doloremque eveniet dolorum laborum esse itaque, architecto, voluptas eum provident. Magni ea reprehenderit nostrum eius omnis a beatae inventore.</p>
      </div>
    </div>
  </div>