<main role="main" class="c-main-content">
    <div class="l-container">
      <div class="l-grid">
        <div class="l-grid__item u-one-third">
        </div>
        <div class="l-grid__item u-two-thirds">
          <h2>What to expect</h2>
          <h3>First visit</h3>
          <p>The initial consultation is a thorough examination to determine how you can benefit from chiropractic. You can expect to be in the clinic for approximately 40 minutes.</p>
          <p>Once you have completed our New Patient Form the chiropractor will take you through to the consultation room. Here, the chiropractor will conduct a thorough history, a neurological, orthopedic and chiropractic examination. If necessary, X-rays can be taken on site.</p>
          <p>You can usually expect to receive your first chiropractic adjustment during this consultation if it is deemed necessary at that point.</p>
          <p>Feel assured that if the chiropractor does not feel chiropractic is appropriate, you will be promptly referred to a more suitable professional.</p>
          <p>If at any stage you have any questions feel free to ask. If at any stage of chiropractic care you wish not to continue care for whatever reason please let us know.</p>

          <h3>Your second visit</h3>
          <p>This is our opportunity to let you know exactly what is going on with you and chiropractic.</p>
          <p>Allow approximately 30 minutes for this Report of Findings visit. We will take you through the following:
            <ul class="o-list">
              <li>Take you through your X-rays step by step</li>
              <li>Explain the nuts and bolts of chiropractic</li>
              <li>Let you know exactly what we found during your initial visit</li>
              <li>Tie it all together and let you know how you can benefit from spinal care</li>
              <li>Let you know what will be involved to achieve best results</li>
              <li>You will receive a chiropractic adjustment to get you on the road to recovery.</li>
            </ul>
          </p>

          <h3>Regular visits</h3>
          <p>In order to attain optimal spinal function it is often necessary to train the joints to move properly again. Often spinal dysfunction or stiffness has built up over many years – in most cases since birth. Correction therefore takes place over time with a series of regular adjustments. The visits are more frequent at first and subsequently spread out.</p>
          <p>Expect to spend about 15 minutes at the clinic for these visits. We will schedule thorough re-examinations called Progress Exams from time to time. These take a little longer but we will let you know in advance.</p>
          <p>And don't worry: although the adjustment can be a little noisy, it will be gentle, specific and in almost all cases absolutely painless.</p>
        </div>
      </div>
    </div>
  </main>