/* ============================================================================
   @SETTINGS
   ========================================================================= */

/**
 * All project specific settings.
 */


/* Typography
   ========================================================================= */

/**
 * Sizes.
 */

$font-size: 19;

$font-size-heading-1: 46;

$font-size-heading-2: 24;

$font-size-heading-3: 22;

$font-size-heading-4: 20;

$font-size-heading-5: 16;

$font-size-heading-6: 14;


/**
 * Line height.
 */

$line-height: 29;


/**
 * Families.
 */

$font-family-base: "Source Sans Pro";

$font-family-headings: $font-family-base;


/**
 * Weights.
 */

$font-weight-base: 400;

$font-weight-bold: 600;

$font-weight-headings: $font-weight-bold;




/* Colours
   ========================================================================= */

/**
 * Brand.
 */

// Slate
$color-brand: #455560;

// Alternate, light blue.
$color-brand-alt: #5499c7;

// Medium strength grey
$color-brand-light: #9eabb4;

// Colours based off `$color-brand`, taken from:
// http://htmlcolorcodes.com/color-picker/

// Complementary: brown
$color-brand-complementary: burlywood;

// Shade: dark navy blue
$color-brand-shade: #232b30;

// Tint: light grey
$color-brand-tint: #e8eaeb;


/**
 * Text.
 */

$color-text-base: #4e606b;




/* Other
   ========================================================================= */

/**
 * Pill border radius.
 */

$border-radius-pill: 28px;


/**
 * Button component padding, stored here as it needs to referenced outside of
 * the Button component partial.
 */

$c-button-padding-sides: 21;
