/* ============================================================================
   @SETTINGS
   ========================================================================= */


/**
 * All project specific settings.
 */


/* Typography
   ========================================================================= */

/**
 * Sizes.
 */

$font-size: 16;

$font-size-heading-1: 44;

$font-size-heading-2: 30;

$font-size-heading-3: 24;

$font-size-heading-4: 20;

$font-size-heading-5: 16;

$font-size-heading-6: 14;


/**
 * Line height.
 */

$line-height: 24;


/**
 * Families.
 */

$font-family-base: sans-serif;

$font-family-headings: Merriweather, serif;

$font-family-serif: $font-family-headings;


/**
 * Weights.
 */

$font-weight-merriweather: 400;



/* Colours
   ========================================================================= */

/**
 * Brand.
 */

// Dark charcoal
$color-brand: #455560;

// Medium strength grey
$color-brand-light: #9eabb4;

// Colours based off `$color-brand`, taken from:
// http://htmlcolorcodes.com/color-picker/

// Complementary: brown
$color-brand-complementary: #605045;

// Shade: dark navy blue
$color-brand-shade: #232b30;

// Tint: light grey
$color-brand-tint: #e8eaeb;


/**
 * Text.
 */

$color-text-base: $color-brand-shade;


/**
 * States.
 */

// Error
//$color-state-error: #dc322f;

// Success
//$color-state-success: #859900;

// Warning
//$color-state-warning: #b58900;

// Information
//$color-state-information: #268bd2;


/**
 * Text input placeholder colour.
 */

//$color-text-input-placeholder:  #999;