@charset "UTF-8";

//@import "settings";
$color-charcoal:        #455560;
$color-dark-grey:       #2f363b;
$color-cool-grey:       #ADAFB2;

$color-aqua-dark:  #3ea9be;
$color-aqua-light: #e5fcfe;

/**
 * Colour combinations based off the brand colour: `#455560`, colours sourced
 * from: http://htmlcolorcodes.com/color-picker/.
 */

// Analogous
$color-brand-analogous-1: #454860;
$color-brand-analogous-2: #504560;
$color-brand-analogous-3: #5e4560;
$color-brand-analogous-4: #604555;
$color-brand-analogous-5: #604548;

// Tints (from dark to light)
$color-brand-tint-1: #5c6a74;
$color-brand-tint-2: #748088;
$color-brand-tint-3: #8b959c;
$color-brand-tint-4: #a2aab0;
$color-brand-tint-5: #b9bfc3;
$color-brand-tint-6: #d1d5d7;
$color-brand-tint-7: #e8eaeb;

/**
 * Fixed header height.
 */

$fixed-header-height: 67;


/* Scally framework
   ========================================================================= */

/**
 * CORE.
 *
 * N.B. this is all mandatory for the Scally framework.
 */

// Settings
$font-family-base:            "Lato", Geneva, Tahoma, sans-serif;
$line-height:                 26;
$font-family-headings:        "Merriweather", serif;
$font-size-heading-1:         44;
@import "../../node_modules/scally/core/settings/typography";

@import "../../node_modules/scally/core/settings/spacing";

@import "../../node_modules/scally/core/settings/retina-resolution";

@import "../../node_modules/scally/core/settings/breakpoints";

@import "../../node_modules/scally/core/settings/widths";

$color-text-base:             $color-dark-grey;
$color-brand:                 $color-charcoal;
@import "../../node_modules/scally/core/settings/colours";

@import "../../node_modules/scally/core/settings/positioning";

@import "../../node_modules/scally/core/settings/cosmetics";

// Functions
@import "../../node_modules/scally/core/functions/convert-px-to-em-rem";

@import "../../node_modules/scally/core/functions/math-helpers";

@import "../../node_modules/scally/core/functions/string-replace";

@import "../../node_modules/scally/core/functions/strip-unit";

@import "../../node_modules/scally/core/functions/tint-shade";

// Mixins
@import "../../node_modules/scally/core/mixins/convert-px-to-em-rem";

@import "../../node_modules/scally/core/mixins/font-size";

@import "../../node_modules/scally/core/mixins/gradients";

@import "../../node_modules/scally/core/mixins/media-queries";

@import "../../node_modules/scally/core/mixins/generate-at-breakpoints";

@import "../../node_modules/scally/core/mixins/generate-percentage-classes-at-breakpoints";

@import "../../node_modules/scally/core/mixins/retina-bg-image";

@import "../../node_modules/scally/core/mixins/target-browsers";

@import "../../node_modules/scally/core/mixins/target-headings";

@import "../../node_modules/scally/core/mixins/text-input-placeholder-colour.scss";

// Normalize
@import "../../node_modules/scally/core/normalize";

// Reset
@import "../../node_modules/scally/core/reset";

// Base

html {
  font-weight: 400;
}
$html-element-background-color: $color-brand;
@import "../../node_modules/scally/core/base/root";

@import "../../node_modules/scally/core/base/abbreviation";

$apply-text-input-and-select-rounded-corners: true;
@import "../../node_modules/scally/core/base/forms";

@import "../../node_modules/scally/core/base/details";

@import "../../node_modules/scally/core/base/headings";

@import "../../node_modules/scally/core/base/horizontal-rule";

@import "../../node_modules/scally/core/base/links";

@import "../../node_modules/scally/core/base/media";

@import "../../node_modules/scally/core/base/paragraphs";

@import "../../node_modules/scally/core/base/print";

@import "../../node_modules/scally/core/base/viewport";

// Placeholders
@import "../../node_modules/scally/core/placeholders/bottom-spacing";


/**
 * LAYOUT.
 */

// Main container
$l-container-breakpoint-toggle-default: true;
$l-container-maximum-width:             1000;
@import "../../node_modules/scally/layout/l-container";

// Grid
@import "../../node_modules/scally/layout/l-grid";

// Side-by-side
@import "../../node_modules/scally/layout/l-side-by-side-alt";


/**
 * OBJECTS.
 */

@import "../../node_modules/scally/objects/o-button";

@import "../../node_modules/scally/objects/o-list";

@import "../../node_modules/scally/objects/o-list-block";

@import "../../node_modules/scally/objects/o-list-inline";

@import "../../node_modules/scally/objects/o-table";


/**
 * COMPONENTS
 */

$c-button-background-color:   $color-aqua-dark;
$c-button-apply-hover-styles: false;
@import "../../node_modules/scally/components/c-button";

/**
 * UTILITIES.
 */

@import "../../node_modules/scally/utilities/u-hide";

@import "../../node_modules/scally/utilities/u-position";

$u-text-apply-at-breakpoints:                   lap;
$u-text-apply-at-breakpoints-for-align-left:    true;
@import "../../node_modules/scally/utilities/u-text";

@import "../../node_modules/scally/utilities/u-spacing";

@import "../../node_modules/scally/utilities/u-widths";




/* Project Specific
   ========================================================================= */


/**
 * Core
 */

// Base
@import "core/base/headings";


/**
 * Components
 */

@import "components/c-site-header";

@import "components/c-site-footer";

@import "components/c-main-content";


.l-container--narrow {
  max-width: to-rem(640);
}

body {
  height: 100%;
}


.homepage {
  background-color: $color-charcoal;
  color: $color-white;
}




.box {
  border: 3px solid #006699;
  border-radius: 4px;
  padding: to-rem(20);
  display: block;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-white;
    background: #006699;
  }
}
.c-avatar {
  width: 150px;
  border-radius: 4px;
  //border-radius: 50%;
}
.c-text-quote {
  font-size: to-rem(20);
  font-style: italic;


}



  // .nav-menu {background: rgb(198, 207, 212);}

  // Create burger menu
  // .nav-menu__button span,
  // .nav-menu__button span:before,
  // .nav-menu__button span:after {
  //   border-radius: 2px;
  //   height: 5px;
  //   width: 35px;
  //   background: $color-white;
  //   position: absolute;
  //   display: block;
  //   content: '';
  //   transition: all 500ms ease-in-out;
  // }

  // .nav-menu__button span:before {top: -10px;}
  // .nav-menu__button span:after {bottom: -10px;}

  // Transition burger to x
  // .js-nav-trigger.is-open span {
  //   background-color: transparent;

  //   &:before,
  //   &:after {top:0;}

  //   &:before {transform: rotate(45deg);}
  //   &:after {transform: rotate(-45deg);}
  // }

  // .nav-menu__content {
  //   @extend %u-s-pe-base;
  //   display: none;

  //   a {
  //     display: inherit;
  //     text-align: center;

  //     @include respond-to(lap) {
  //       text-align: left;
  //     }
  //   }
  //}

  // Show nav on click
  //.js-nav-target.is-visible {display:block;}





blockquote {
  border-right: 4px solid rgb(198, 207, 212);
  font-style: italic;
}

.caa {
  display: block;
  background: url(../images/caa-logo.png) no-repeat 0 0;
  background-size: 100px;
  width: 100px;
  height: 40px;
  margin: 0 auto;

  @include respond-to(lap) {
    margin: 0;
  }
}

summary {
  @extend %u-s-pe-small;
  border-bottom: 1px solid $color-black;
  text-transform: uppercase;
}

details[open] {
  @extend %u-s-pb-base;
  @extend %u-s-ps-base;
  border-bottom: 1px solid $color-black;
  summary {
    border-bottom: 0;
  }
}

/**
 * Page heading component.
 */

.c-page-heading {
  background-color: $color-brand-analogous-3;
  background-color: $color-brand-tint-7;
  background-color: #344048;
  padding-top: to-rem($spacing-double);
  padding-bottom: to-rem($spacing-double);
  margin-bottom: to-rem($spacing-base);
}

.c-page-heading__title {
  //font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
  //font-style: italic;
  color: $color-white;
  //color: $color-brand;
  text-align: center;
  //text-shadow: 0 1px 0 $color-black;
}


// table {
//   width: 100%;
//   border: 1px solid #ccc;
//   border-radius: 4px;
// }
// tr {
//   border-bottom: 1px solid #ccc;
// }

// td {
//   padding: to-rem(10);
// }

// th {
//   text-align:left;
//   background: $color-dark-grey;
//   color: white;
//   padding: to-rem(10);
// }