@charset "UTF-8";

/* ============================================================================
   @MASTER STYLESHEET
   ========================================================================= */


/**
 * Scally, being an OO framework, works in keeping with the open/closed
 * principle. Any custom styles *SHOULD NOT* be added or modified in Scally
 * directly. This also allows the framework to be updated seamlessly.
 *
 * Contents:
 *
 * Your settings.........your project-specific settings.
 * Scally framework......the entire Scally framework including your overrides.
 * Your styles...........all your project-specific styles.
 *
 * N.B. the above order and the order within the Scally framework section must
 * always be followed.
 */




/* Your settings
   ========================================================================= */

/**
 * Your project-specific settings.
 *
 * N.B. define first so they can be used throughout your styles.
 */

@import "settings";




/* Scally framework
   ========================================================================= */

/**
 * By default everything is imported. But if you want to be selective and you
 * definitely should, so your CSS is as lean as possible, then only import what
 * you want. The Core section is however mandatory.
 *
 * Any settings you find set in Scally that you do not wish to keep, simply
 * redefine above/below the relevant `@import`. This means that if Scally, for
 * example, sets your `$font-size` at `16px` and you wish it to be `14px`,
 * simply redeclare it above the relevant `@import`, like so:
 *
   $font-size: 14;
   @import "../../../node_modules/scally/core/settings/typography";
 *
 * If you want to use a Scally setting to override something then you need to
 * define the override below the `@import`, like so:
 *
   @import "../../../node_modules/scally/core/settings/colours";
   $color-text-base: $color-brand;
 *
 * If you try to redeclare above the `@import` your Sass won't compile as you
 * don't have access to the Scally setting at the point of compilation.
 *
 * All non-Core settings need to be overridden above the `@import`, like so:
 *
   $o-arrow-size-base: 14;
   $o-arrow-color: orange;
   @import "../../../node_modules/scally/objects/o-arrow";
 *
 * Scally ignores its own settings in favour of using your own, so you can
 * completely modify how Scally works without ever having to alter the
 * framework itself.
 *
 * N.B. the order specified below must always be followed or Scally will
 * break.
 *
 * Contents:
 *
 * CORE
 * LAYOUT
 * OBJECTS
 * COMPONENTS
 * UTILITIES
 */


/**
 * CORE.
 *
 * N.B. this is all mandatory for the Scally framework.
 */

// Settings
@import "../../node_modules/scally/core/settings/typography";

@import "../../node_modules/scally/core/settings/spacing";

@import "../../node_modules/scally/core/settings/retina-resolution";

@import "../../node_modules/scally/core/settings/breakpoints";

@import "../../node_modules/scally/core/settings/widths";

@import "../../node_modules/scally/core/settings/colours";

@import "../../node_modules/scally/core/settings/positioning";

@import "../../node_modules/scally/core/settings/cosmetics";

// Functions
@import "../../node_modules/scally/core/functions/convert-px-to-em-rem";

@import "../../node_modules/scally/core/functions/math-helpers";

@import "../../node_modules/scally/core/functions/string-replace";

@import "../../node_modules/scally/core/functions/strip-unit";

@import "../../node_modules/scally/core/functions/tint-shade";

// Mixins
@import "../../node_modules/scally/core/mixins/convert-px-to-em-rem";

@import "../../node_modules/scally/core/mixins/font-size";

@import "../../node_modules/scally/core/mixins/gradients";

@import "../../node_modules/scally/core/mixins/media-queries";

@import "../../node_modules/scally/core/mixins/generate-at-breakpoints";

@import "../../node_modules/scally/core/mixins/generate-percentage-classes-at-breakpoints";

@import "../../node_modules/scally/core/mixins/retina-bg-image";

@import "../../node_modules/scally/core/mixins/target-browsers";

@import "../../node_modules/scally/core/mixins/target-headings";

@import "../../node_modules/scally/core/mixins/text-input-placeholder-colour.scss";

// Normalize
@import "../../node_modules/scally/core/normalize";

// Reset
@import "../../node_modules/scally/core/reset";

// Base
@import "../../node_modules/scally/core/base/root";

@import "../../node_modules/scally/core/base/abbreviation";

$apply-text-input-and-select-rounded-corners: true;
$text-input-and-select-padding: 11;
$text-input-and-select-border-color: $color-brand-light;
@import "../../node_modules/scally/core/base/forms";

$apply-details-marker: true;
@import "../../node_modules/scally/core/base/details";

@import "../../node_modules/scally/core/base/headings";

@import "../../node_modules/scally/core/base/horizontal-rule";

$link-color: $color-brand-alt;
$link-color-hover: shade($color-brand-alt, 10%);
@import "../../node_modules/scally/core/base/links";

@import "../../node_modules/scally/core/base/media";

@import "../../node_modules/scally/core/base/paragraphs";

@import "../../node_modules/scally/core/base/print";

@import "../../node_modules/scally/core/base/viewport";

// Placeholders
@import "../../node_modules/scally/core/placeholders/bottom-spacing";


/**
 * LAYOUT.
 */

// Main container
$l-container-width: 88%;
$l-container-maximum-width: 1000;
@import "../../node_modules/scally/layout/l-container";

// Grid
@import "../../node_modules/scally/layout/l-grid";

// Side-by-side
@import "../../node_modules/scally/layout/l-side-by-side-alt";

@import "../../node_modules/scally/layout/l-side-by-side";


/**
 * OBJECTS.
 */

@import "../../node_modules/scally/objects/o-button";

$o-list-apply-hanging-bullets: true;
@import "../../node_modules/scally/objects/o-list";

$o-table-border-color: $color-brand-tint;
@import "../../node_modules/scally/objects/o-table";


/**
 * UTILITIES.
 */

$u-display-apply-at-breakpoints: lap-large;
$u-display-apply-at-breakpoints-for-block: true;
@import "../../node_modules/scally/utilities/u-display";

$u-hide-apply-at-breakpoints: (880 max, 881);
$u-hide-apply-at-breakpoints-for-hide: true;
@import "../../node_modules/scally/utilities/u-hide";

$u-spacing-apply-at-breakpoints: (500 max, 445 max, 542);
$u-spacing-apply-classes-for-breakpoints: ('.u-s-mb-base', '.u-s-mr-tiny');
@import "../../node_modules/scally/utilities/u-spacing";

$u-width-percentage-apply-at-breakpoints: (500, lap, 745, lap-large);
@import "../../node_modules/scally/utilities/u-widths";

$u-text-apply-at-breakpoints:                   (palm max);
$u-text-apply-at-breakpoints-for-align-center:  true;
@import "../../node_modules/scally/utilities/u-text";




/* Project Specific
   ========================================================================= */


/**
 * CORE.
 */

// Base
@import "core/base/@font-face";

@import "core/base/root";

@import "core/base/strong";

@import "core/base/headings";

@import "core/base/details";


/**
 * LAYOUT.
 */

@import "layout/l-flex-grid";

@import "layout/l-container";

// Template
@import "layout/template/l-header";

@import "layout/template/l-footer";

@import "layout/template/l-main";

// Views
@import "layout/template/views/l-view-home";


/**
 * OBJECTS.
 */

@include respond-to(palm, max) {
  .o-list {
    list-style-position: inside;
  }
}


/**
 * COMPONENTS.
 */

@import "components/c-profile";

@import "components/c-form";

@import "components/c-form-select";

@import "components/c-button";

@import "components/c-view-title";

@import "components/c-browser-upgrade";

@import "components/c-drop-cap";
