@charset "UTF-8";

//@import "settings";
$color-charcoal:        #455560;
$color-dark-grey:       #2f363b;
$color-cool-grey:       #ADAFB2;

/* Scally framework
   ========================================================================= */

/**
 * CORE.
 *
 * N.B. this is all mandatory for the Scally framework.
 */

// Settings
//$font-family-headings:        'Open Sans', sans-serif;
$font-family-base:            "Lato", Geneva, Tahoma, sans-serif;
@import "../../node_modules/scally/core/settings/typography";

@import "../../node_modules/scally/core/settings/spacing";

@import "../../node_modules/scally/core/settings/retina-resolution";

@import "../../node_modules/scally/core/settings/breakpoints";

@import "../../node_modules/scally/core/settings/widths";

$color-text-base:            $color-dark-grey;
@import "../../node_modules/scally/core/settings/colours";

@import "../../node_modules/scally/core/settings/positioning";

@import "../../node_modules/scally/core/settings/cosmetics";

// Functions
@import "../../node_modules/scally/core/functions/convert-px-to-em-rem";

@import "../../node_modules/scally/core/functions/math-helpers";

@import "../../node_modules/scally/core/functions/string-replace";

@import "../../node_modules/scally/core/functions/strip-unit";

// Mixins
@import "../../node_modules/scally/core/mixins/convert-px-to-em-rem";

@import "../../node_modules/scally/core/mixins/font-size";

@import "../../node_modules/scally/core/mixins/gradients";

@import "../../node_modules/scally/core/mixins/media-queries";

@import "../../node_modules/scally/core/mixins/generate-at-breakpoints";

@import "../../node_modules/scally/core/mixins/generate-percentage-classes-at-breakpoints";

@import "../../node_modules/scally/core/mixins/retina-bg-image";

@import "../../node_modules/scally/core/mixins/target-browsers";

@import "../../node_modules/scally/core/mixins/target-headings";

@import "../../node_modules/scally/core/mixins/text-input-placeholder-colour.scss";

// Normalize
@import "../../node_modules/scally/core/normalize";

// Reset
@import "../../node_modules/scally/core/reset";

// Base
@import "../../node_modules/scally/core/base/root";

@import "../../node_modules/scally/core/base/abbreviation";

@import "../../node_modules/scally/core/base/forms";

@import "../../node_modules/scally/core/base/details";

@import "../../node_modules/scally/core/base/headings";

@import "../../node_modules/scally/core/base/horizontal-rule";

@import "../../node_modules/scally/core/base/links";

@import "../../node_modules/scally/core/base/media";

@import "../../node_modules/scally/core/base/paragraphs";

@import "../../node_modules/scally/core/base/print";

@import "../../node_modules/scally/core/base/viewport";

// Placeholders
@import "../../node_modules/scally/core/placeholders/bottom-spacing";


/**
 * LAYOUT.
 */

// Main container
$l-container-breakpoint-toggle-default: true;
@import "../../node_modules/scally/layout/l-container";

// Grid
@import "../../node_modules/scally/layout/l-grid";

// Side-by-side
@import "../../node_modules/scally/layout/l-side-by-side-alt";


/**
 * OBJECTS.
 */

@import "../../node_modules/scally/objects/o-list";

@import "../../node_modules/scally/objects/o-list-block";

@import "../../node_modules/scally/objects/o-list-inline";


/**
 * UTILITIES.
 */

@import "../../node_modules/scally/utilities/u-hide";

@import "../../node_modules/scally/utilities/u-position";

$u-text-apply-at-breakpoints:                   lap;
$u-text-apply-at-breakpoints-for-align-left:    true;
@import "../../node_modules/scally/utilities/u-text";

@import "../../node_modules/scally/utilities/u-spacing";

@import "../../node_modules/scally/utilities/u-widths";




/* Project Specific
   ========================================================================= */


/**
 * Core
 */

// Base
@import "core/base/headings";


/**
 * Components
 */

@import "components/c-site-header";

@import "components/c-site-footer";

@import "components/c-main-content";




body {
  height: 100%;
}


  // .nav-menu {background: rgb(198, 207, 212);}

  // Create burger menu
  // .nav-menu__button span,
  // .nav-menu__button span:before,
  // .nav-menu__button span:after {
  //   border-radius: 2px;
  //   height: 5px;
  //   width: 35px;
  //   background: $color-white;
  //   position: absolute;
  //   display: block;
  //   content: '';
  //   transition: all 500ms ease-in-out;
  // }

  // .nav-menu__button span:before {top: -10px;}
  // .nav-menu__button span:after {bottom: -10px;}

  // Transition burger to x
  // .js-nav-trigger.is-open span {
  //   background-color: transparent;

  //   &:before,
  //   &:after {top:0;}

  //   &:before {transform: rotate(45deg);}
  //   &:after {transform: rotate(-45deg);}
  // }

  // .nav-menu__content {
  //   @extend %u-s-pe-base;
  //   display: none;

  //   a {
  //     display: inherit;
  //     text-align: center;

  //     @include respond-to(lap) {
  //       text-align: left;
  //     }
  //   }
  //}

  // Show nav on click
  //.js-nav-target.is-visible {display:block;}





main {background-color: $color-white;}

blockquote {
  border-right: 4px solid rgb(198, 207, 212);
  font-style: italic;
}

.caa {
  display: block;
  background: url(../images/caa-logo.png) no-repeat 0 0;
  background-size: 100px;
  width: 100px;
  height: 40px;
  margin: 0 auto;

  @include respond-to(lap) {
    margin: 0;
  }
}

summary {
  @extend %u-s-pe-small;
  border-bottom: 1px solid $color-black;
  text-transform: uppercase;
}

details[open] {
  @extend %u-s-pb-base;
  @extend %u-s-ps-base;
  border-bottom: 1px solid $color-black;
  summary {
    border-bottom: 0;
  }
}
