/* ============================================================================
   @LAYOUT -> TEMPLATE -> VIEWS -> HOME
   ========================================================================= */

/**
 * The bespoke layout used in the main content area of the home page.
 */

.l-view-home {
  display: flex;
  align-items: center;
}


/**
 * Declare widths for each container.
 */

.l-view-home__intro,
.l-view-home__photos {
  flex: 1 50vw;
  //background-color: $color-brand;
}


/**
 * Intro text.
 */

.l-view-home__intro {
  //background-color: $color-brand-alt;
  padding: to-rem($spacing-double);
}

// Inner container
.l-view-home__intro-inner {
  max-width: to-rem(540);
  margin: auto;

  @include respond-to(1600) {
    font-size: to-rem($font-size-x-large);
  }
}


/**
 * Photos.
 */

.l-view-home__photos img:first-child {
  border-bottom: 1px solid $color-white;
}
