/* ============================================================================
   @LAYOUT -> TEMPLATE -> VIEWS -> HOME
   ========================================================================= */

/**
 * The bespoke layout used in the main content area of the home page.
 */


/**
 * The banner.
 */

.l-view-home-banner {
  display: flex;
  max-height: 314px;
}

.l-view-home-banner__item {
  flex-basis: auto;
  width: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.l-view-home-banner__item:last-child {
  border-left: 1px solid white;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}


/**
 * Content area.
 */

.l-view-home-content {
  position: relative;
  background-color: $color-white;
  margin-top: -(to-rem($spacing-triple));
  padding: to-rem($spacing-base-plus-half);
  padding-bottom: 0;
}
