/* ============================================================================
   @CORE -> BASE -> FONT FACE DECLARATIONS
   ========================================================================= */

/**
 * Merriweather Sans.
 */

$font-face-merriweather-sans-file-path: "../fonts/merriweather/sans/";

$font-face-merriweather-sans-serif-file-path: "../fonts/merriweather/sans-serif/";

// Light
@font-face {
  font-family: "Merriweather Sans";
  src: url("#{$font-face-merriweather-sans-file-path}light.woff2") format("woff2"),
       url("#{$font-face-merriweather-sans-file-path}light.woff") format("woff");
  font-weight: $font-weight-base;
  font-style: normal;
}

// Light italic
@font-face {
  font-family: "Merriweather Sans";
  src: url("#{$font-face-merriweather-sans-file-path}light-italic.woff2") format("woff2"),
       url("#{$font-face-merriweather-sans-file-path}light-italic.woff") format("woff");
  font-weight: $font-weight-base;
  font-style: italic;
}

// Bold
@font-face {
  font-family: "Merriweather Sans";
  src: url("#{$font-face-merriweather-sans-file-path}bold.woff2") format("woff2"),
       url("#{$font-face-merriweather-sans-file-path}bold.woff") format("woff");
  font-weight: $font-weight-bold;
  font-style: normal;
}

// Bold italic
@font-face {
  font-family: "Merriweather Sans";
  src: url("#{$font-face-merriweather-sans-file-path}bold-italic.woff2") format("woff2"),
       url("#{$font-face-merriweather-sans-file-path}bold-italic.woff") format("woff");
  font-weight: $font-weight-bold;
  font-style: italic;
}


/**
 * Merriweather Sans-serif.
 */

// Regular
@font-face {
  font-family: "Merriweather Sans-serif";
  src: url("#{$font-face-merriweather-sans-serif-file-path}regular.woff2") format("woff2"),
       url("#{$font-face-merriweather-sans-serif-file-path}regular.woff") format("woff");
  font-weight: $font-weight-headings;
  font-style: normal;
}
