/* ============================================================================
   @CORE -> BASE -> DETAILS
   ========================================================================= */

/**
 * Details and summary element.
 *
 * N.B. this builds on top of the Scally details base styles.
 */


/**
 * Settings.
 */

$details-padding-ends: $spacing-half;

$details-padding-sides: $spacing-base-plus-half;

$details-padding-sides-small: 18;

$details-spacing-bottom: $spacing-base;

$details-border-color: $color-brand-tint;

$details-border-color-hover: $color-brand;

$details-border-radius: 3px;


details {
  border: 1px solid $details-border-color;
  border-radius: $details-border-radius;
  margin-bottom: to-rem($details-spacing-bottom);

  &:last-child {
    margin-bottom: 0;
  }

  /**
   * Set list bullets to be on the inside.
   */

  .o-list {
    list-style-position: inside;
  }
}


/**
 * The summary.
 */

summary {
  border: 1px solid transparent;
  border-radius: $details-border-radius;
  padding: to-rem($details-padding-ends) to-rem($details-padding-sides);
  font-weight: $font-weight-bold;
  position: relative;
  transition: border-color 0.08s ease-in;

  &:hover,
  &:focus,
  details[open] & {
    border-color: $details-border-color-hover;
  }

  details[open] & {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  /**
   * The plus and minus icons.
   */

  svg {
    position: absolute;
    left: 18px;
    top: 50%;
    width: 18px;
    height: 18px;
    fill: $color-brand;
    transform: translateY(-50%);

    &:last-child {
      display: none;

      details[open] & {
        display: block;
      }
    }

    details[open] &:first-child {
      display: none;
    }
  }
}


/**
 * Content piece.
 */

summary + div {
  font-size: to-rem($font-size-small);
  padding-top: to-rem($details-padding-ends);
  padding-bottom: to-rem($details-padding-ends);
  padding-right: to-rem($details-padding-sides-small);
  padding-left: to-rem($details-padding-sides-small);

  @include respond-to(500) {
    padding-right: to-rem($details-padding-sides);
    padding-left: to-rem($details-padding-sides);
  }

}
