/* ============================================================================
   @CORE -> BASE -> HEADINGS
   ========================================================================= */

 /**
  * Extend base heading styles provided by Scally.
  */


/**
 * Headings.
 */

h2 {
  font-weight: 300;
}

h3 {
  text-transform: uppercase;
  font-size: to-rem($font-size-heading-4);
}

h5 {
  text-transform: uppercase;
  font-weight: 300;
}