/* ============================================================================
   @CORE -> BASE -> HEADINGS
   ========================================================================= */

/**
 * All the `hx` headings.
 *
 * N.B. this builds on top of the Scally heading base styles.
 */


@include headings(1, 6, true) {
  font-family: $font-family-headings;
  font-weight: $font-weight-headings;
}


h2,
.h2 {
  line-height: 1.3;
  margin-top: to-rem($spacing-double);

  &:first-child {
    margin-top: 0;
  }
}
