/* ============================================================================
   @CORE -> BASE -> ROOT
   ========================================================================= */

/**
 * The root element: `html`.
 *
 * N.B. this builds on top of the Scally heading base styles.
 */


html {
  background-color: $color-brand;
  background-image: linear-gradient(45deg, shade($color-brand, 6%), tint($color-brand, 16%));
  //font-family: $font-family-base;
  font-family: $font-family-base-webfont;
  font-weight: $font-weight-base;
}

// Once “Merriweather Sans” font has loaded we can show it via this class
// .has-fonts-loaded {
//   font-family: $font-family-base-webfont;
// }
