<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>City Chiropractic Care | Sydney CBD, NSW Australia</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <main role="main" class="c-main-content">
  <div class="homepage">
    <div class="l-container">
      <h1 class="u-text-align-center">Welcome to City Chiropractor Care</h1>
    </div>
  </div>

  <div class="l-container">
    <p>At City Chiropractor Care we are specialised in looking after a range of spinal conditions such as neck pain, back pain and headaches. We are committed to assisting each and every patient to achieve their personal health goals by providing a supportive environment.</p>
    <p>We pride ourselves on the thoroughness of our approach and manner in which we deliver our services. Our reward comes from seeing patients attain great results from their spinal care. We are highly motivated by seeing peoples lives turnaround for the better as their health and well-being improves.</p>

    <div class="l-grid l-grid--gutter-large">
      <div class="l-grid__item u-one-third">
        <img src="http://placehold.it/350x150">
        <h3>Meet the team</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae tempora consectetur, doloremque eveniet dolorum laborum esse itaque, architecto, voluptas eum provident. Magni ea reprehenderit nostrum eius omnis a beatae inventore.</p>
      </div>

      <div class="l-grid__item u-one-third">
        <img src="http://placehold.it/350x150">
        <h3>What to expect</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae tempora consectetur, doloremque eveniet dolorum laborum esse itaque, architecto, voluptas eum provident. Magni ea reprehenderit nostrum eius omnis a beatae inventore.</p>
      </div>

      <div class="l-grid__item u-one-third">
        <img src="http://placehold.it/350x150">
        <h3>Book an Appointment</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae tempora consectetur, doloremque eveniet dolorum laborum esse itaque, architecto, voluptas eum provident. Magni ea reprehenderit nostrum eius omnis a beatae inventore.</p>
      </div>
    </div>

    <div class="l-grid l-grid--gutter-large">
      <div class="l-grid__item u-one-whole">
        {{!-- <div class="l-side-by-side-alt u-s-mb-base">
          <div class="l-side-by-side-alt__left">
            <img class="c-avatar"src="/images/scott.jpeg">
          </div>
          <div class="l-side-by-side-alt__right">
            <p class="c-text-quote">"It is our aim to provide the best possible chiropractic care to each and every patient."</p>
          </div>
        </div> --}}



      </div>
      {{!-- <div class="l-grid__item u-one-third-from-lap">
        <ul>
          <li class="u-s-mb-base"><a href="what-to-expect.html" class="box">What to expect</a></li>
          <li class="u-s-mb-base"><a href="" class="box">Common Conditions</a></li>
          <li class="u-s-mb-base"><a href="" class="box">Frequently asked questions</a></li>
          <li class="u-s-mb-base u-text-align-center"><a href="book-appointment.html" class="c-button c-button--full-bleed u-text-transform-uppercase">Book Appointment</a></li>
        </ul>

      </div> --}}
    </div>

  </div>
</main>

        {{>footer}}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="scripts/app.js"></script>

    </body>
</html>